{% extends 'masters/main.html' %}
{% load compressed %}

{% block header %}
	{{ block.super }}
	{% compressed_css 'blog' %}	
{% endblock %}

{% block footer %}
	{{ block.super }}
	<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true"></script>
{% endblock %}

{% block main_content %}

	<div id='blogpost' class='resume'>
		<div class='leftcol-content'>
			<div class='blog-top'>
				<h1>Generic Web Developer JobHunt v4E</h1>								
			</div>
			<div class='post'>				
				<div id='character-stats'>
					<div class='stat-group name'>
						<div class='stat'>Dave Lafferty</div>
						<div class='definition'>Character Name</div>
					</div>	
					<div class='stat-group age'>
						<div class='stat'>29</div>
						<div class='definition'>Level</div>
					</div>						
					<div class='stat-group class'>
						<div class='stat'>Web Dev</div>
						<div class='definition'>Class</div>
					</div>
					<div class='stat-group'>
						<div class='stat'>Backend Web Dev</div>
						<div class='definition'>Prestige Class</div>
					</div>						
					<div class='stat-group'>
						<div class='stat'>Dynamic Languages</div>
						<div class='definition'>Specialty (2d6)</div>
					</div>						
				</div>				
				<div id='picture'></div>
				<div id='character-attributes'>
					<div class='attribute-group'>
						<div class='left'>
							<div class='title'><span>Passion</span></div>
							<div class='stat-group horizontal'>
								<div class='stat'>+4</div>
								<div class='definition'>Modifier</div>
							</div>
						</div>
						<div class='right'>
							<div class='attribute-value'><span>18</span></div>
							<div class='save'>
								<div class='total'><span>8</span></div>
								<div class='definition'><span>Bored Save</span></div>
							</div>
						</div>						
					</div>
					<div class='attribute-group'>
						<div class='left'>
							<div class='title'><span>Adaptability</span></div>
							<div class='stat-group horizontal'>
								<div class='stat'>+4</div>
								<div class='definition'>Modifier</div>
							</div>
						</div>
						<div class='right'>
							<div class='attribute-value'><span>19</span></div>
							<div class='save'>
								<div class='total'><span>9</span></div>
								<div class='definition'><span>Chaos Save</span></div>
							</div>
						</div>						
					</div>
					<div class='attribute-group'>
						<div class='left'>
							<div class='title'><span>Innovation</span></div>
							<div class='stat-group horizontal'>
								<div class='stat'>+3</div>
								<div class='definition'>Modifier</div>
							</div>
						</div>
						<div class='right'>
							<div class='attribute-value'><span>16</span></div>
							<div class='save'>
								<div class='total'><span>6</span></div>
								<div class='definition'><span>Idle Save</span></div>
							</div>
						</div>						
					</div>
				</div>
				<div id='adventure-log'>
					<h2>Adventure Log</h2>
					
					<div class='adventure'>
						<div class='company-info'>
							<div class='stat-group'>
								<div class='stat'>Gorbel Inc.</div>
								<div class='definition'>Troupe</div>
							</div>
							<div class='stat-group'>
								<div class='stat'>2007-2012</div>
								<div class='definition'>Years of Service</div>
							</div>
							<div class='stat-group'>
								<div class='stat'>Software Engineer</div>
								<div class='definition'>Position</div>
							</div>
						</div>
						
						<div class='notebox'>
							<h3>Notes</h3>
							<ul>
								<li>Created and maintained online order entry system.</li>
								<li>Integrated website with various backend products such as SyteLine (ERP), SolidWorks and Autocad.</li>
								<li>Gathered requirements for and implemented various internal tools.</li>
								<li>Re-architected and migrated aging systems from classic ASP to .NET.</li>							
							</ul>
						</div>
						
						<div class='notebox'>
							<h3>Experience Points</h3>
							<div class='xp-bar red'>
								<div class='title'>Microsoft SQL</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:70%'></div>
									<div class='segments'>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
							</div>
							<div class='xp-bar'>
								<div class='title'>.NET and IIS</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:60%'></div>
									<div class='segments'>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
							</div>						
							<div class='xp-bar'>
								<div class='title'>JavaScript, CSS & HTML</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:80%'></div>
									<div class='segments'>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
							</div>	
						</div>
					</div>
					<div class='adventure'>	
						<div class='company-info'>
							<div class='stat-group'>
								<div class='stat'>Nazareth College</div>
								<div class='definition'>Troupe</div>
							</div>
							<div class='stat-group'>
								<div class='stat'>2012-Present</div>
								<div class='definition'>Years of Service</div>
							</div>
							<div class='stat-group'>
								<div class='stat'>Senior Web Developer</div>
								<div class='definition'>Position</div>
							</div>
						</div>
						
						<div class='notebox'>
							<h3>Notes</h3>
							<ul>
								<li>Learned all facets of web infrastructure after previous developers left with no overlap.</li>
								<li>Built and managed over a dozen virtualized openSUSE Linux servers ranging from web servers hosting Django apps to highly available proxy servers to smtp relays.</li>
								<li>Architected and began implementation of a multi-year plan for migrating to a new CMS after assessing the needs of the college.</li>								
							</ul>
						</div>
						
						<div class='notebox'>
							<h3>Experience Points</h3>
							<div class='xp-bar red'>
								<div class='title'>Linux Server Management</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:50%'></div>
									<div class='segments'>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
							</div>
							<div class='xp-bar'>
								<div class='title'>Python, Django and Apache</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:85%'></div>
									<div class='segments'>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
							</div>						
							<div class='xp-bar yellow'>
								<div class='title'>Git</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:40%'></div>
									<div class='segments'>
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<div id='skills'>
					<h2>Skills</h2>
					<div class='legend'>
						<div class='class-skill'>Base Class Skill</div>
						<div class='prestige-class-skill'>Prestige Class Skill</div>
					</div>
					<div class='clearfix'></div>
					<div class='skill-group'>
						<div class='skill class'>
							<div class='xp-bar'>
								<div class='title'>HTML</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:80%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class'>
							<div class='xp-bar'>
								<div class='title'>JavaScript</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:90%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class'>
							<div class='xp-bar'>
								<div class='title'>jQuery</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:80%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class'>
							<div class='xp-bar'>
								<div class='title'>Backbone.js</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:70%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class'>
							<div class='xp-bar'>
								<div class='title'>CSS</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:75%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class prestige'>
							<div class='xp-bar'>
								<div class='title'>XSLT</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:65%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class'>
							<div class='xp-bar red'>
								<div class='title'>Windows</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:80%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class'>
							<div class='xp-bar red'>
								<div class='title'>Mac (OS X)</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:75%'></div>									
								</div>
							</div>	
						</div>						
						<div class='skill'>
							<div class='xp-bar red'>
								<div class='title'>Linux (openSUSE)</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:75%'></div>									
								</div>
							</div>	
						</div>						
						<div class='skill class'>
							<div class='xp-bar yellow'>
								<div class='title'>Git</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:55%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class'>
							<div class='xp-bar yellow'>
								<div class='title'>SVN</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:40%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class prestige'>
							<div class='xp-bar yellow'>
								<div class='title'>Jenkins</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:50%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill'>
							<div class='xp-bar yellow'>
								<div class='title'>HAProxy</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:65%'></div>									
								</div>
							</div>	
						</div>						
					</div>
					<div class='skill-group'>						
						<div class='skill class prestige'>
							<div class='xp-bar'>
								<div class='title'>.NET (2-4)</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:65%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class prestige'>
							<div class='xp-bar'>
								<div class='title'>Java</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:50%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class prestige'>
							<div class='xp-bar'>
								<div class='title'>SQL</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:85%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class prestige'>
							<div class='xp-bar'>
								<div class='title'>PHP</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:80%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class prestige'>
							<div class='xp-bar'>
								<div class='title'>Python</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:90%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class'>
							<div class='xp-bar'>
								<div class='title'>Django</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:90%'></div>									
								</div>
							</div>	
						</div>					
						
						<div class='skill'>
							<div class='xp-bar yellow'>
								<div class='title'>Adobe Fireworks</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:40%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill'>
							<div class='xp-bar yellow'>
								<div class='title'>Blender</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:30%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class prestige'>
							<div class='xp-bar yellow'>
								<div class='title'>Selenium (PHP API)</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:50%'></div>									
								</div>
							</div>	
						</div>						
						<div class='skill'>
							<div class='xp-bar yellow class prestige'>
								<div class='title'>Apache (Web Server)</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:75%'></div>									
								</div>
							</div>	
						</div>
						<div class='skill class prestige'>
							<div class='xp-bar yellow'>
								<div class='title'>Apache Traffic Server</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:80%'></div>									
								</div>
							</div>	
						</div>										
						<div class='skill'>
							<div class='xp-bar yellow'>
								<div class='title'>DHCP</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:35%'></div>									
								</div>
							</div>	
						</div>						
						<div class='skill class prestige'>
							<div class='xp-bar yellow'>
								<div class='title'>DNS</div>
								<div class='bar'>
									<div class='background'></div>
									<div class='filled-amount' style='width:55%'></div>									
								</div>
							</div>	
						</div>								
					</div>
				</div>
				<div class='clearfix'></div>
				<div id='extra-curriculars'>
					<h2>Hobbies & Extra-Curriculars</h2>
					<ul class='hobby-list'>
						<li>Family:  I have a wife and a year-old daughter that I love to spend time with.</li>
						<li>Music:  I play electric and acoustic guitar, and have played formally in a jazz and rock band.</li>
						<li>
							Game Modding:  I've developed a couple mods for Kerbal Space Program, now defunct.  <a href='http://kerbalspaceport.com/ceko-labs-rangefinder/'>This was my most popular one</a>, although I haven't recompiled it in almost a year.
							I've also developed several standalone test projects in Unity to play with the game engine.  My most popular hobby project was the <a href='/trainer'>Magicka:  Wizard Wars Skill Trainer</a>, though.
						</li>
						<li>
							Gaming:  I own over 240 games on Steam alone, and am an avid gamer.  My favorite game series is co-op Magicka, and my favorite genre is co-op metroidvania worldbuilding like Minecraft or Terraria.
						</li>
						<li>
							Learning:  I make a lot of exploratory projects.  My favorite two are <a href='https://github.com/ceko/cekolabs_empanada'>Empanada, a lightweight templating language for Python</a> and <a href='https://github.com/ceko/regexdns'>RegexDNS, a DNS server that lets you map IP addresses to regular expressions.</a> 
						</li>						
					</ul>
				</div>
				<div id='contact'>
					<h2>Contact</h2>
					<p>
						Get in touch with me by e-mailing ceko AT dave-lafferty DOT com.  I specialize in web work but I can also do traditional desktop development.  You made it all the way to the end, HOORAY!
					</p> 
				</div>
			</div>			    						
		</div>	
		<div class='rightcol-content'>
			<div class='groupwrapper'>		
				<div class='group'>					
					<div class='groupheader'>
						<h3>Posts</h3>
					</div>							
					{% for recent_post in recent_posts %}
						<div class='recent-post'>
							<div class='title'>
								<a href='{% url 'blog_view' recent_post.slug recent_post.id %}'>{{ recent_post.title }}</a>
							</div>
							<div class='creation-date'>
								{{ recent_post.created|date:"F d, Y" }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class='groupwrapper'>
				<div class='group'>
					<div class='groupheader'>
						<h3>Featured Posts</h3>
					</div>
					{% for feature in features %}
						<div class='recent-post'>
							<div class='title'>
								<a href='{% url 'blog_view' feature.post.slug feature.post.id %}'>{{ feature.post.title }}</a>
							</div>
							<div class='creation-date'>
								{{ feature.post.created|date:"F d, Y" }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>				
		<div class='clear:both;'></div>							
	</div>	

{% endblock %}
