
DATABASE_SETTINGS = {
    'dave_lafferty_web' : {
        'user' : 'cms_user',
        'password' : 'password',
        'host' : 'localhost',
        'port' : ''
    }
}

SECRET_KEY = 'secret_key'