<!DOCTYPE html>
<html>
	<head>			
		<title>Empanada, an Instructional Templating Language</title>
		<link rel="stylesheet" type="text/css" href='{{:settings.STATIC_URL}}css/empanada/core.css' />
	</head>
	<body>		
		<div class='main'>
			<div class='banner'>
				<div class='logo'></div>
				<div class='banner-strip'></div>
			</div>
			<div class='content'>
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
				this is where the content will go!
				<br />
			</div>
		</div>	
	</body>
</html>