<!DOCTYPE html>
<html>
	<head>	
		{% load compressed %}
		<title>finch@dave-lafferty.com</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>	
		{% compressed_css 'finch' %}
	</head>
	<body>
		<div id='main-wrap'>
			<div id='playing-field'>
				<div id='status-bar'></div>
				<div id='battlefield'>
					<div id='enemy-side'>
						<div class='summon-point'></div>
						<div class='summon-point'></div>
						<div class='summon-point'></div>
						<div class='summon-point'></div>
					</div>
					<div id='hero-side'>
						<div class='summon-point'></div>
						<div class='summon-point'></div>
						<div class='summon-point'></div>
						<div class='summon-point'></div>
					</div>
				</div>
				<div id='player-information'>
					<div id='player-controls'>
						<div id='magicka-bar'>
							<span>magicka</span>
							<div class='current'></div>
						</div>
						<div id='health-bar'>
							<span>health</span>
							<div class='current'></div>
						</div>
						<div id='elements-controls'>
							<div class='row1'>
								<div class='water'>
									<span>Q</span>								
								</div>
								<div class='life'>
									<span>W</span>								
								</div>
								<div class='shield'>
									<span>E</span>								
								</div>
								<div class='cold'>
									<span>R</span>								
								</div>
							</div>
							<div class='row2'>
								<div class='lightning'>
									<span>A</span>								
								</div>
								<div class='arcane'>
									<span>S</span>								
								</div>
								<div class='earth'>
									<span>D</span>								
								</div>
								<div class='fire'>
									<span>F</span>								
								</div>
							</div>							
						</div>
					</div>
					<div id='card-draw-area'>
						<div class='card-wrapper'>
							<div class='defensive card'>
								<div class='border'>
									<div class='title'>
										Fire Rock Wall
									</div>
									<div class='sunburst'></div>
									<div class='description'>
										A powerful rock wall that does AoE damage when destroyed.
									</div>
									<div class='attributes'>
										<span class='health'>2</span>
										<span class='attack'>10</span>
										<div style='clear:both;'></div>
									</div>
								</div>
							</div>
							<div class='requirements'>
								<div class='shield'></div>
								<div class='earth'></div>
								<div class='fire'></div>								
							</div>
						</div>
						
						<div class='card-wrapper' style='left:250px;'>
							<div class='lightning-aoe card'>
								<div class='border'>
									<div class='title'>
										Fire Rock Wall
									</div>
									<div class='sunburst'></div>
									<div class='description'>
										A powerful rock wall that does AoE damage when destroyed.
									</div>
									<div class='attributes'>
										<span class='health'>2</span>
										<span class='attack'>10</span>
										<div style='clear:both;'></div>
									</div>
								</div>
							</div>
							<div class='requirements'>
								<div class='shield'></div>
								<div class='earth'></div>
								<div class='fire'></div>								
							</div>
						</div>
						
					</div>
				</div>
			</div>			
		</div>	
		
		{% verbatim %}
		<!-- jsrender templates -->
		<script id='element-queue-template' type='text/x-jsrender'>			
			{{for queued_elements}}
				<div class='{{:name}}'>					
				</div>
			{{/for}}		
		</script>
		<!-- end jsrender templates -->
		{% endverbatim %}
		
		{% compressed_js 'finch' %}		
	</body>
</html>