<!DOCTYPE html>
<html>
	<head>
		{% block header %}		
			{% load compressed %}
			<title>dave-lafferty.com</title>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
			{% compressed_css 'core' %}			
		{% endblock %}		
	</head>
	<body>
		<div id='main-wrap'>
			<div id='top-bar'>
				<div class='top-bar-inner'>
					<div class='site-name'><a href='/'>cekolabs@dave-lafferty.com</a></div>
					<ul class='top-bar-links'>
						<li>							
							<a href='#'>								
								projects
								<i class='icon-chevron-down'></i>
							</a><br />
							<ul>
								<li class='projects'>
									<a href='/django-form-architect'>										
										<div class='project-header'>Django Form Architect</div>
										<div>A highly dynamic form builder for that's easy and fun to use.</div>
									</a>									
									<a href='#'>
										<div class='project-header'>Javascript Weekly</div>
										<div>Javascript tips and tricks to make your apps better.  Mostly jQuery based.</div>
									</a>
									<a href='/ksp-mods'>
										<div class='project-header'>KSP Mods</div>
										<div>Mods I've made for Kerbal Space Program, the indie space simulator.</div>
									</a>																		
								</li>
							</ul>
						</li>
						<li><a href='/blog'>blog</a></li>
						<li><a href='/resume'>resume</a></li>
					</ul>
				</div>
			</div>
			{% block pre_main_content %}
			{% endblock %}
			<div id='main-content'>						
				{% block main_content %}
				{% endblock %}
			</div>
		</div>
		{% block footer %}			
			{% compressed_js 'core' %}
		{% endblock %}
	</body>
</html>