<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta content="True" name="HandheldFriendly">
		<meta content="320" name="MobileOptimized">
		{% block header %}		
			{% load compressed %}
			<title>dave-lafferty.com</title>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
			{% compressed_css 'core' %}			
		{% endblock %}		
	</head>
	<body>
		<div id='main-wrap'>
			<div id='top-bar'>
				<div class='top-bar-inner'>
					<div class='site-name'><a href='/'>cekolabs@dave-lafferty.com</a></div>
					<ul class='top-bar-links'>
						<li>							
							<a href='#'>								
								projects
								<i class='icon-chevron-down'></i>
							</a><br />
							<ul>
								<li class='projects' style='display:none;'>
									{% for project in projects %}
										<a href='{{ project.link }}'>										
											<div class='project-header'>{{ project.name }}</div>
											<div>{{ project.description }}</div>
										</a>
									{% endfor %}																											
								</li>
							</ul>
						</li>
						<li><a href='/blog'>blog</a></li>
						<li><a href='/resume'>resume</a></li>
					</ul>
				</div>
				<div style='clear:both;'></div>
			</div>
			{% block pre_main_content %}
			{% endblock %}
			<div id='main-content'>						
				{% block main_content %}
				{% endblock %}
			</div>
		</div>
		{% block footer %}			
			{% compressed_js 'core' %}
		{% endblock %}
	</body>
</html>