<!DOCTYPE html>
<html>
	<head>	
		{% load compressed %}
		<title>Magicka: Wizard Wars skill trainer</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>			
		{% compressed_css 'finch-trainer' %}
	</head>
	<body>		
		<div id='credits-banner'></div>
		<div id='credits-content'>
			<div id='credits-window'>
				<div class="nav">
					<span class="nav-back">&laquo; back</span>					
				</div>
				<div class='body'>
					<p>
						Thanks to the wonderful people at <a href='http://www.paradoxplaza.com/'>Paradox</a> for letting me
						use all of their art and music assets and for being cool enough to feature me in a newsletter.  
						Thanks to Devil's Advocate at <a href='http://www.magickawizardwars.com'>http://www.magickawizardwars.com</a> 
						for letting me use the apps subdomain.
					</p>
					<p>
						Also a special thanks to you!  Thank you for using this app and all the positive feedback that's been left on the wizard wars forum.
					</p>				  
					<p>				
						<b>Technologies Used:</b>
						<ul>
							<li><a href='https://www.djangoproject.com/'>Django</a></li>
							<li><a href='https://www.jquery.com/'>jQuery</a></li>
							<li><a href='http://backbonejs.org/'>Backbone.js</a></li>
							<li><a href='http://a-jie.github.io/Proton/'>Proton.js</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div id='title-bar'>
			<div>
				<a href='http://magickawizardwars.com'>Visit magickawizardwars.com, the best unofficial site for the game!</a>				
			</div>
		</div>
		<div id='main-wrap'>		
			<div id='playing-field'>
				<div id='status-bar'></div>
				<div id='battlefield'>
					<div id='message-box'>Mines not supported!</div>
					<canvas id='battlefield-line-effects'></canvas>
					<canvas id='battlefield-particle-effects'></canvas>					
					<div id='game-title-slot'>
						<span>Game Mode:</span><span id='game-mode-display'>None selected</span>
						<div id='cancel-game'>cancel</div>						
						<div id='music-player'>
							<div class='paused play-pause'></div>
							<div class='volume'>
								<div class='background'></div>
							</div>
						</div>												
					</div>
					<div id='opponent-slot'>							
					</div>
					<div id='mode-selection'>
						<div class='options'>
													
						</div>						
						<div class='modes'>
							<div class='mode'>
								<div class='mode-inner dequeue-mode'>
									<h3>Cancel random elements</h3>
									<div class='image'></div>									
								</div>
							</div>
							<div class='mode'>
								<div class='mode-inner queue-mode'>
									<h3>Queue random elements</h3>
									<div class='image'></div>									
								</div>
							</div>
							<div class='mode'>
								<div class='mode-inner offensive-mode'>
									<h3>Break enemy defenses</h3>
									<div class='image'></div>																	
								</div>
							</div>
						</div>
					</div>
					<div id='round-history-slot'>
						
					</div>
				</div>
				<div id='player-information'>
					<div id='player-controls'>						
						<div id='elements-controls'>
							<div class='row1'>
								<div class='water'>
									<span>Q</span>								
								</div>
								<div class='life'>
									<span>W</span>								
								</div>
								<div class='shield'>
									<span>E</span>								
								</div>
								<div class='cold'>
									<span>R</span>								
								</div>
							</div>
							<div class='row2'>
								<div class='lightning'>
									<span>A</span>								
								</div>
								<div class='arcane'>
									<span>S</span>								
								</div>
								<div class='earth'>
									<span>D</span>								
								</div>
								<div class='fire'>
									<span>F</span>								
								</div>
							</div>							
						</div>
					</div>	
					<div id='stats-overview-slot'>
												
					</div>														
				</div>				
			</div>			
		</div>	
		
		{% verbatim %}
		<!-- jsrender templates -->
		<script id='element-queue-template' type='text/x-jsrender'>
			<div class='cast-bar'><div></div></div>			
			{{for queued_elements}}
				<div class='{{:name}}'>					
				</div>
			{{/for}}		
		</script>
		
		<script id='history-template' type='text/x-jsrender'>
			<div class='header'>
				<div class='queue-header'>elements</div>
				<div class='time-header'>time (ms)</div>
				<div style='clear:both;'></div>
			</div>
			{{for history}}
				<div class='history'>
					<div class='queue elements'>
						{{for element_queue}}
							<div class='{{:#data}}'>
							</div>
						{{/for}}
					</div>
					<div class='time'>
						{{:time_to_complete}}
					</div>
				</div>
			{{/for}}
			<div class='history-shadow'></div>		
		</script>
		
		<script id='opponent-template' type='text/x-jsrender'>
			<div class='cast-bar'>
				<div class='inner'></div>
			</div>
			<div class='health-bar'>
				<div class='inner'></div>
			</div>			
			<div class='opponent'>
				<div class='player-icon'></div>
				<div class='ward-group'>
					<div class='outer-ward'><div class='{{: model.get('outer_ward') }}'></div></div>
					<div class='inner-ward'><div class='{{: model.get('inner_ward') }}'></div></div>
				</div>
				<div class='frozen-indicator level-{{: model.get('frozen_level') }}'></div> 
				<div class='shield {{if model.get('shield_active')}}active{{/if}}'></div>								
				<div class='defensive-wall {{if model.get('wall_active')}}active{{/if}}'></div>				
			</div>			
		</script>
		
		<script id='round-history-template' type='text/x-jsrender'>
			<div class='game'>
				<div class='header'>
					<h2>Game #{{:game_number}} ({{:history.label}})</h2>
						<span class='total-time'>
							{{if history.label == 'offensive'}}
								{{:history.total_time_seconds}} sec.
							{{else}}
								{{:history.average_time}} ms avg.
							{{/if}}
						</span>
				</div>
				<div class='rows'>
					{{for history.history}}
						<div class='row'>
							<div class='elements'>
								{{for element_queue}}
									<div class='{{:#data}}'></div>
								{{/for}}
								{{if fumble}}
									<div class='fumble' tooltip='fumble' title='fumble'></div>
								{{/if}}								
							</div>
							
							<div class='time'>
								{{if ~root.history.label == 'offensive'}}
									{{:time_to_complete_seconds}} sec.
								{{else}}
									{{:time_to_complete}} ms
								{{/if}}
							</div>
							<div style='clear:both;'></div>
						</div>
					{{/for}}
				</div>
			</div>
		</script>
		
		<script id='dequeue-mode-instructions' type='text/x-jsrender'>
			<div class='mode-instructions'>
				<div class='nav'>
					<span class='nav-back'>&laquo; back</span>
					<div class='options'>
						<div class='round-length'>
							round length
							<select name='dequeue-round-length' id='dequeue-round-length'>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>15</option>
								<option>20</option>									
							</select>
						</div>
					</div>	
				</div>
				<div class='body'>
					Every round your element queue will fill.  Your goal is to cast the opposing elements.  
					<br />
					<br />
					<h4>Opposing Elements:</h4>
					<div class='opposing-help'>
						<div style='width:30%;float:left;margin-left:10px;'>
							<div class='elements'>
								<div class='water'></div> &raquo; <div class='lightning'></div>
							</div>
							<div class='elements'>
								<div class='life'></div> &raquo; <div class='arcane'></div>
							</div>
							<div class='elements'>
								<div class='shield'></div> &raquo; <div class='shield'></div>
							</div>
							<div class='elements'>
								<div class='cold'></div> &raquo; <div class='fire'></div>
							</div>
						</div>
						<div style='width:40%;float:left;'>
							<div class='elements'>
								<div class='lightning'></div> &raquo; <div class='water'></div>, <div class='earth'></div>
							</div>
							<div class='elements'>
								<div class='arcane'></div> &raquo; <div class='life'></div>
							</div>
							<div class='elements'>
								<div class='earth'></div> &raquo; <div class='lightning'></div>
							</div>
							<div class='elements'>
								<div class='fire'></div> &raquo; <div class='cold'></div>
							</div>
						</div>
						<div style='clear:both;'></div>
					</div>
					<div class='start-button'>start game</div>
				</div>
			</div>
		</script>
		
		<script id='queue-mode-instructions' type='text/x-jsrender'>
			<div class='mode-instructions'>
				<div class='nav'>
					<span class='nav-back'>&laquo; back</span>
					<div class='options'>
						<div class='round-length'>
							round length
							<select name='queue-round-length' id='queue-round-length'>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>15</option>
								<option>20</option>									
							</select>
						</div>
					</div>	
				</div>
				<div class='body'>
					Queue the elements appearing above the bar as quickly as possible.  Order doesn't matter.
					<br />
					<br />
					<div class='start-button'>start game</div>
				</div>
			</div>
		</script>
		
		<script id='offensive-mode-instructions' type='text/x-jsrender'>
			<div class='mode-instructions'>
				<div class='nav'>
					<span class='nav-back'>&laquo; back</span>
				</div>
				<div class='body'>
					{{if webgl_supported}}
						Defeat your enemy by casting optimal spells:
						<div class='animated-instructions'>
							<div class='elements'>
								<div class='arcane anim-1'></div>
								<div class='earth anim-2'></div>
								<div class='fire anim-3'></div>							
							</div>
							<div class='input anim-4'>right mouse button [hold]</div>
						</div>					    	
						<div class='sub-option'>
							<div class='header'>difficulty</div>
							<div class='value'>
								<select class='difficulty'>
									<option value='2.0'>easy</option>
									<option value='1.25' selected>normal</option>
									<option value='.75'>hard</option>
								</select>
							</div>
						</div>
						<div class='sub-option'>
							<div class='header'>health</div>
							<div class='value'>
								<select class='health'>								
									<option value='500'>500</option>
									<option value='600'>600</option>
									<option value='700'>700</option>
									<option value='800'>800</option>
									<option value='900'>900</option>
									<option value='1000' selected>1000</option>
									<option value='1100'>1100</option>
									<option value='1200'>1200</option>
									<option value='1300'>1300</option>
									<option value='1400'>1400</option>
									<option value='1500'>1500</option>								
								</select>
							</div>
						</div>
						<div class='start-button'>start game</div>
					{{else}}
						Sorry, your browser doesn't support <a href='https://en.wikipedia.org/wiki/WebGL'>WebGL</a> :(  You should enable it, it's super cool.
					{{/if}}
				</div>
			</div>
		</script>
		
		<script id='offensive-mode-game-over' type='text/x-jsrender'>
			<div class='mode-instructions'>
				<div class='nav'>
					<span class='nav-back'>&laquo; back</span>
				</div>
				<div class='body'>					
					<div>
						You took <span class="seconds"></span> seconds to beat the enemy and cast
						<span class="combo-count"></span> combos.  For more detailed stats look on the right in the round history window.
					</div>
										
					<div class='start-button' style='margin-top:10px;'>start another game</div>
				</div>
			</div>
		</script>
		
		<script id='stats-overview-template' type='text/x-jsrender'>
			<h2>queue/dequeue stats</h2>
			<h2>offensive game stats</h2>
			<div class='rows simple'>
				<div class='row'>
					<div class='label'>games played</div>
					<div class='value'>{{:model.get('games_played')}}</div>		
					<div style='clear:both;'></div>						
				</div>
				<div class='row'>
					<div class='label'>fumbles</div>
					<div class='value'>{{:model.get('fumbles')}}/{{:model.get('total_objectives')}} ({{:model.get('fumble_percentage')}}%)</div>
					<div style='clear:both;'></div>								
				</div>
				<div class='row'>
					<div class='label'>best time</div>
					<div class='value'>{{:model.get('best_time')}} ms</div>
					<div class='label'>worst time</div>
					<div class='value'>{{:model.get('worst_time')}} ms</div>
					<div class='label'>average</div>
					<div class='value'>{{:model.get('average_time')}} ms</div>
					<div style='clear:both;'></div>								
				</div>
			</div>
			<div class='rows offensive'>
				<div class='row'>
					<div class='label'>games played</div>
					<div class='value'>{{:model.get('offensive_games_played')}}</div>		
					<div style='clear:both;'></div>						
				</div>
				<div class='row'>
					<div class='label'>total spells cast</div>
					<div class='value'>{{:model.get('offensive_total_spells_cast')}}</div>
					<div style='clear:both;'></div>								
				</div>				
				<div class='row'>					
					<div class='label'>favorite combo</div>
					<div class='value'>
						<div class='elements'>
							{{for model.get('offensive_favorite_combo') }}
								<div class='{{:#data}}'></div>
							{{/for}}
						</div>
					</div>
					<div class='label'>favorite element</div>
					<div class='value'><div class='elements'><div class='{{:model.get('offensive_favorite_element')}}'></div></div>
					<div class='label'></div>													
				</div>
			</div>
		</script>
		
		<!-- end jsrender templates -->
		{% endverbatim %}
			
		{% compressed_js 'finch-trainer' %}		
	</body>
</html>
