<!DOCTYPE html>
<html>
	<head>	
		{% load compressed %}
		<title>Magicka: Wizard Wars skill trainer</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>	
		{% compressed_css 'finch-trainer' %}
	</head>
	<body>
		<div id='main-wrap'>
			<div id='playing-field'>
				<div id='status-bar'></div>
				<div id='battlefield'>
					<canvas id='battlefield-particle-effects'></canvas>
					<div id='game-title-slot'>
						<span>Game Mode:</span><span id='game-mode-display'>None selected</span>
						<div id='cancel-game'>cancel game</div>
					</div>
					<div id='opponent-slot'></div>
					<div id='mode-selection'>
						<div class='options'>
							<div class='round-length'>
								round length
								<select id='round-length'>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>15</option>
									<option>20</option>									
								</select>
							</div>							
						</div>						
						<div class='modes'>
							<div class='mode'>
								<div class='mode-inner dequeue-mode'>
									<h3>Cancel random elements</h3>
									<div class='image'></div>									
								</div>
							</div>
							<div class='mode'>
								<div class='mode-inner queue-mode'>
									<h3>Queue random elements</h3>
									<div class='image'></div>									
								</div>
							</div>
							<div class='mode'>
								<div class='mode-inner offensive-mode'>
									<h3>Break enemy defenses</h3>
									<div class='image'></div>																	
								</div>
							</div>
						</div>
					</div>
					<div id='round-history-slot'>
						
					</div>
				</div>
				<div id='player-information'>
					<div id='player-controls'>						
						<div id='elements-controls'>
							<div class='row1'>
								<div class='water'>
									<span>Q</span>								
								</div>
								<div class='life'>
									<span>W</span>								
								</div>
								<div class='shield'>
									<span>E</span>								
								</div>
								<div class='cold'>
									<span>R</span>								
								</div>
							</div>
							<div class='row2'>
								<div class='lightning'>
									<span>A</span>								
								</div>
								<div class='arcane'>
									<span>S</span>								
								</div>
								<div class='earth'>
									<span>D</span>								
								</div>
								<div class='fire'>
									<span>F</span>								
								</div>
							</div>							
						</div>
					</div>	
					<div id='stats-overview-slot'>
												
					</div>														
				</div>				
			</div>			
		</div>	
		
		{% verbatim %}
		<!-- jsrender templates -->
		<script id='element-queue-template' type='text/x-jsrender'>
			<div class='cast-bar'><div></div></div>			
			{{for queued_elements}}
				<div class='{{:name}}'>					
				</div>
			{{/for}}		
		</script>
		
		<script id='history-template' type='text/x-jsrender'>
			<div class='header'>
				<div class='queue-header'>elements</div>
				<div class='time-header'>time (ms)</div>
				<div style='clear:both;'></div>
			</div>
			{{for history}}
				<div class='history'>
					<div class='queue elements'>
						{{for element_queue}}
							<div class='{{:#data}}'>
							</div>
						{{/for}}
					</div>
					<div class='time'>
						{{:time_to_complete}}
					</div>
				</div>
			{{/for}}
			<div class='history-shadow'></div>		
		</script>
		
		<script id='opponent-template' type='text/x-jsrender'>
			<div class='opponent'>				
				<div class='player-icon'></div>
				<div class='ward-group'>
					<div class='outer-ward'><div class='{{: model.get('outer_ward') }}'></div></div>
					<div class='inner-ward'><div class='{{: model.get('inner_ward') }}'></div></div>
				</div>	
				{{if model.get('shield_active')}}
					<div class='shield'></div>
				{{/if}}
				{{if model.get('wall_active')}}
					<div class='defensive-wall'></div>
				{{/if}}				
			</div>
		</script>
		
		<script id='round-history-template' type='text/x-jsrender'>			
			<div class='game'>
				<div class='header'>
					<h2>Game #{{:game_number}} ({{:history.label}})</h2><span class='total-time'>{{:history.average_time}} ms avg.
				</div>
				<div class='rows'>
					{{for history.history}}
						<div class='row'>
							<div class='elements'>
								{{for element_queue}}
									<div class='{{:#data}}'></div>
								{{/for}}
								{{if fumble}}
									<div class='fumble' tooltip='fumble' title='fumble'></div>
								{{/if}}								
							</div>
							
							<div class='time'>
								{{:time_to_complete}} ms
							</div>
							<div style='clear:both;'></div>
						</div>
					{{/for}}
				</div>
			</div>
		</script>
		
		<script id='offensive-mode-instructions' type='text/x-jsrender'>
			<div class='mode-instructions'>
				<div class='nav'>
					<span class='nav-back'>&laquo; back</span>
				</div>
				<div class='body'>
					Defeat your enemy by casting optimal spells:
					<div class='animated-instructions'>
						<div class='elements'>
							<div class='arcane anim-1'></div>
							<div class='earth anim-2'></div>
							<div class='fire anim-3'></div>							
						</div>
						<div class='input anim-4'>right mouse button [hold]</div>
					</div>					    	
					<div class='sub-option'>
						<div class='header'>difficulty</div>
						<div class='value'>
							<select class='difficulty'>
								<option value='easy'>easy</option>
								<option value='normal' selected>normal</option>
								<option value='hard'>hard</option>
							</select>
						</div>
					</div>
					<div class='sub-option'>
						<div class='header'>health</div>
						<div class='value'>
							<select class='health'>
								<option value='100'>100</option>
								<option value='200'>200</option>
								<option value='300'>300</option>
								<option value='400'>400</option>
								<option value='500' selected>500</option>
								<option value='600'>600</option>
								<option value='700'>700</option>
								<option value='800'>800</option>
								<option value='900'>900</option>
								<option value='1000'>1000</option>								
							</select>
						</div>
					</div>
					<div class='start-button'>start game</div>
				</div>
			</div>
		</script>
		
		<script id='stats-overview-template' type='text/x-jsrender'>
			<h2>your stats</h2>
			<div class='rows'>
				<div class='row'>
					<div class='label'>games played</div>
					<div class='value'>{{:model.get('games_played')}}</div>		
					<div style='clear:both;'></div>						
				</div>
				<div class='row'>
					<div class='label'>fumbles</div>
					<div class='value'>{{:model.get('fumbles')}}/{{:model.get('total_objectives')}} ({{:model.get('fumble_percentage')}}%)</div>
					<div style='clear:both;'></div>								
				</div>
				<div class='row'>
					<div class='label'>best time</div>
					<div class='value'>{{:model.get('best_time')}} ms</div>
					<div class='label'>worst time</div>
					<div class='value'>{{:model.get('worst_time')}} ms</div>
					<div class='label'>average</div>
					<div class='value'>{{:model.get('average_time')}} ms</div>
					<div style='clear:both;'></div>								
				</div>
			</div>
		</script>
		
		<!-- end jsrender templates -->
		{% endverbatim %}
			
		{% compressed_js 'finch-trainer' %}		
	</body>
</html>