
* {
	margin:0px;
	padding:0px;
}

html {
	font-family:Tahoma;
	height:100%;

	body {
		background:url('../../images/finch/magicka-background.jpg') no-repeat center #020C12;	
		height:100%;	
	
		#title-bar {
			padding:5px;
			color:#FFF;
			
			> div {
				margin:auto;
				max-width:990px;
			}
			
			a {
				color:#FFF;
			}	
		}
	
		.ward-group {
			position:relative;
			
			.outer-ward {
				-webkit-mask-image: url('../../images/finch/ward-outer-mask.png');
				-o-mask-image: url('../../images/finch/ward-outer-mask.png');
				mask: url('../../images/finch/ward-outer-mask.png');
				mask-image: url('../../images/finch/ward-outer-mask.png');
				-webkit-mask-size: cover;
				-o-mask-size: cover;
				-moz-mask-size: cover;
				mask-size: cover;
				
				height:100%;
				width:100%;
				
				> div {
					width:100%;
					height:100%;
				}
			}
			
			.inner-ward {
				position:absolute;	
				top:0px;			
				-webkit-mask-image: url('../../images/finch/ward-inner-mask.png');
				-o-mask-image: url('../../images/finch/ward-inner-mask.png');
				-moz-mask-image: url('../../images/finch/ward-inner-mask.png');
				mask-image: url('../../images/finch/ward-inner-mask.png');
				-webkit-mask-size: cover;
				-o-mask-size: cover;
				-moz-mask-size: cover;
				mask-size: cover;
				
				height:100%;
				width:100%;
				
				> div {
					width:100%;
					height:100%;
				}
			}
			
			.water {
				background-color:blue;
			}
			
			.life {
				background-color: green;
			}
			
			.shield {
				background-color: yellow;
			}
			
			.cold {
				background-color: white;
			}
			
			.lightning {
				background-color: purple;
			}
			
			.arcane {
				background-color: darkred;
			}
			
			.earth {
				background-color: brown;
			}
			
			.fire {
				background-color: red;
			}
			
		}
	
		.elements {
			
			> div {
				background-size:cover;
				height:46px;
				width:46px;
			}
			
			.water {										
				background-image:url('../../images/finch/element-water.png');
			}
			
			.life {
				background-image:url('../../images/finch/element-life.png');
			}
			
			.shield {
				background-image:url('../../images/finch/element-shield.png');
			}
			
			.cold {
				background-image:url('../../images/finch/element-cold.png');
			}
			
			.lightning {
				background-image:url('../../images/finch/element-lightning.png');
			}
			
			.arcane {
				background-image:url('../../images/finch/element-arcane.png');
			}
			
			.earth {
				background-image:url('../../images/finch/element-earth.png');
			}
			
			.fire {
				background-image:url('../../images/finch/element-fire.png');
			}
			
			.unknown {
				background-image:url('../../images/finch/element-unknown.png');
			}
		}
	
		div.fizzling {							
			width:46px;
			height:46px;
			display:inline-block;			
			margin: 6px 0px 0px 2px;			
		}
	
		#main-wrap {
			width:100%;
			max-width:1000px;
			height:100%;
			display:table;
			margin:auto; 
			
			.rows {
				background-color:#333;
				.row {	
					font-size:14px;			
					clear:both;
					padding:6px 0px;
						
					.elements {
						
						> div {
							display:inline-block;
							width:30px;
							height:30px;
						}
						
						margin-right:15px;
						
					}
									
					&:nth-child(even) {
						background-color:#292929;
						border-top:1px solid #3A3737;
						border-bottom:1px solid #3A3737;
					}
					
					> div {
						margin:3px 0px 3px 7px;									
					}
					
					.label {
						clear:both;
						display:inline-block;
						float:left;
						width:130px;									
					}
					
					.value {
						display:inline-block;
						float:left;									
					}
				}
			}
			
			#playing-field {				
				display:table-cell;
				vertical-align:middle;
				max-width:1000px;
				min-width:800px;				
				margin:auto;								
				
				* {
					vertical-align:top;
				}
				
				#status-bar {					
					background:#000;
					border-bottom:5px solid #111;										
				}
				
				#battlefield {
					overflow:hidden;
					max-width:990px;
					position:relative;
					border:5px solid #111;
					border-top:none;
					border-bottom:none;
					height:400px;
					background:url('../../images/finch/battlefield-background.jpg');										
					
					#battlefield-particle-effects, #battlefield-line-effects {
						position:absolute;
						z-index:16;						
					}
					
					#opponent-slot {
						position:absolute;					
						width:218px;
						
						.opponent {
							position:relative;
							width:190px;
							.player-icon {
								background:url('../../images/finch/objective-mage.png');
								width:70px;
								height:85px;
								position: absolute;
								left: 67px;
								top: 71px;
								z-index: 10;
							}
							
							.ward-group {
								left:44px;
								top:44px; 
								> div {
									width:124px;
									height:124px;								
								}							
							}
							
							.shield {
								display:none;							
								background:url('../../images/finch/dome-shield.png');
								position:absolute;
								top:0px;
								left:0px;
								width:218px;
								height:218px;
								z-index:15;
								&.active {
									display:block;
								}
							}
							
							.defensive-wall {
								display:none;
								background:url('../../images/finch/rock-wall-down.png');							
								position:absolute;
								width:213px;
								height:75px;
								top:150px;
								&.active {
									display:block;
								}
							}
							
						}
						
					}
					
					.countdown {
						position: absolute;
						top: 257px;
						left: 325px;
						font-size: 60px;
						color: #FFF;						
					}
					
					#game-title-slot {
						z-index:50;
						position:relative;
						padding: 5px;
						background: #111;
						color: #FFF;
						
						> * {
							padding:5px;
							display:inline-block;
						}
						
						#cancel-game {							
							float: right;
							margin-right: 320px;
							width: 110px;
							text-align: center;							
							background: #DA5E5E;
							display:none;	
							cursor:pointer;						
						}						
					}
					
					#round-history-slot {
						width:321px;
						position:absolute;
						z-index:60;
						top:0;
						right:0;
						bottom:0;
						background:
							radial-gradient(rgba(0,0,0,.4) 15%, transparent 16%) 0 0,
							radial-gradient(rgba(0,0,0,.4) 15%, transparent 16%) 8px 8px,
							radial-gradient(rgba(200,200,200,.1) 15%, transparent 20%) 0 1px,
							radial-gradient(rgba(200,200,200,.1) 15%, transparent 20%) 8px 9px;
						background-color:#333;
						background-size:16px 16px;
						color:#FFF;
						overflow-y:auto;
						border-left:5px solid #111;
						box-shadow: inset 3px 3px 7px 0px rgba(0,0,0,.75);
						
						.game {
							
							box-shadow: 0px 2px 7px 2px rgba(0,0,0,.5);
							
							.header {
							
								background:#5B747A;
								border-bottom:1px solid #111;
								cursor:pointer;
							
								h2 {
									width: 180px;
									display: inline-block;									
									font-size:16px;
									font-weight:normal;
									padding:10px 5px;									
								}
								
								.total-time {
									position:relative;
									top:10px;
								}
								
							}
							
							.elements {
								float:left;
								width:145px;
								
								.fumble {
									background-image: url('../../images/finch/fumble.png');
									height: 20px;
									width: 20px;
									margin: 5px;
								}
								
							}
							
							.row {
								clear:both;
							}
							
							.time {
								float: left;
								margin: 7px 0px 0px 25px;
							}
							
						}
												
					}
					
					.mode-instructions {
						width:450px;
						position:absolute;
						border: 5px solid rgba(0,0,0,.5);
						border-radius: 5px;
						background: #333;
						box-shadow: 0px 0px 30px 0px rgba(122, 153, 187, 0.51);
						display:none;
						
						.nav {
							padding: 10px 15px;
							background: #111;
							color: #FFF;
							cursor:pointer;
						}
						
						.body {
							padding:10px;
							color:#FFF;	
							
							.sub-option {
								margin:10px 10px 10px 0px;
								.header {
									width:100px;
									display:inline-block;
								}
								.value {
									display:inline-block;
								}
							}
							
							.animated-instructions {
								margin-top:15px;
								margin-bottom:30px;
								.elements {
									display:inline-block;
									margin-right:15px;
									
									> div {										
										display:inline-block;																				
									}
								}
							}
							
							.input {
								display:inline-block;
								margin-top:10px;
							}
							
							.start-button {
								float: right;
								text-align: center;
								background: #299125;
								border: 1px solid #0A1B09;
								cursor: pointer;
								margin-bottom: 10px;
								padding: 10px;
								border-radius: 5px;
								color: #FFF;
							}
													
						}
						
					}
					
					#mode-selection {
						display:none;
						width: 450px;
						position: absolute;
						top: 150px;						
						left: 75px;
						border: 5px solid rgba(0,0,0,.5);
						border-radius: 5px;
						background: #333;
						box-shadow: 0px 0px 30px 0px rgba(122, 153, 187, 0.51);
						
						.options {
							padding: 10px 15px;
							background: #111;
							color: #FFF;
							
							.round-length {
								select {
									margin-left:15px;
								}
							}
						}
												
						.mode {
							&:hover {
								background:#444;
								cursor:pointer;
							}
							&:first-child {
								border-top:none;
							}
							border-bottom:1px solid #111;
							border-top:1px solid #666;							
							color:#FFF;
																					
							.mode-inner {
								padding:15px;
								h3 {
									margin:0px;
									padding:0px;
									font-size:20px;
									font-weight:normal;
									display:inline-block;														
								}
								
								.image {
									width:80px;
									height:44px;
									margin:-18px 0px;
									display:inline-block;
									float:right;
								}
								
								&.dequeue-mode {
									.image {										
										background-image:url('../../images/finch/cancel-queue-mode-icon.png');
									}
								}
								
								&.queue-mode {
									.image {									
										margin-top:-11px;	
										background-image:url('../../images/finch/queue-mode-icon.png');
									}
								}
								
								&.ward-buster-mode {
									.image {										
										
									}
								}
								
							}							
						}
						
						a {
							margin-top:30px;							
							display:block;
							padding:10px;
							background:rgb(150, 218, 118);
							border-radius:5px;
							border: 1px solid #4C8133;
							cursor:pointer;
						}
												
					}
					
					#objective-history {
						position:absolute;
						background: rgba(0,0,0,.5);
						padding: 10px;
						border-radius: 5px;
						margin-bottom:5px; 
						max-height: 190px;
						overflow-y: hidden;
						
						.history-shadow {
							position: absolute;
							bottom: 0;
							width: 100%;
							z-index: 10;
							box-shadow: 0px 0px 20px 10px #000;
						}
						
						.queue-header {
							float:left;
							width:120px;
							margin-right:50px;
							color:#FFF;
							font-size:.8em;
							margin-left:5px;
						}
						
						.time-header {
							float:left;
							color:#FFF;
							font-size:.8em;
							margin-left:3px;
						}
						
						.time {
							float:left;
							margin:11px;
							color:#FFF;
						}
						
						.queue {	
							
							width:120px;
							margin-right:50px;
							float:left;
												 
							div {
								width:30px;
								height:30px;
								display:inline-block;
								background-size:cover;
								margin: 6px 0px 0px 2px;								
							}	
							
						}	
						
					}
					
					.element-queue {
						position:absolute;
						width:171px;
						height:60px;
						border-radius:5px;
						border:2px solid #FFF;
						background-color:rgba(0,0,0,.5);
						padding-left:15px;
						z-index:60;
												
						&.helper-mode {
							background:none;
							border:none;
							opacity:.75;
						}
						
						> div {
							
							width:46px;
							height:46px;
							display:inline-block;
							background-size:cover;
							margin: 6px 0px 0px 2px;							
						}
						
						.cast-bar {
							display:none;
							position: absolute;
							width: 100%;
							height: 15px;
							background-color: rgba(236, 231, 115, 0.35);
							left: -2px;
							top: -30px;
							
							> div {
								background-color:rgb(231, 231, 72);
								height:100%;
								width:0%;
							}
						}						
					}
					
				}
				
				#player-information {
					border:5px solid #111;
					border-top:none;					
					background:url('../../images/finch/card-draw-background.png');
					overflow:hidden;
					display:table;
															
					#player-controls {																		
						padding:10px;
						width:280px;
						border-right:1px solid #5F5F5F;
						box-shadow:inset -1px 0px #000;
												
						#elements-controls {
							> div {
								
								&.row1 {
									margin-top:10px;
								}
							
								&.row2 {									
									margin-left:30px;
									margin-top:-5px;
								}
							
								> div {
									height:80px;
									width:53px;
									display:inline-block;
									margin-right:5px;									
									background-position:bottom;
									background-repeat:no-repeat;
									
									span {
										font-size:18px;
										color:#FFF;
										display:block;
										text-align:center;
									}
									
									&.pressed {
										position:relative;
										top:3px;
										left:3px;
									}
									
									&.active:before {
										width:53px;
										height:80px;
										position:absolute;
										background:radial-gradient(circle at center 52px, rgba(255,255,255,.8) 0px,rgba(255,255,255,0) 30px);
										content:"";
									}
									
									&.water {										
										background-image:url('../../images/finch/element-water.png');
									}
									
									&.life {
										background-image:url('../../images/finch/element-life.png');
									}
									
									&.shield {
										background-image:url('../../images/finch/element-shield.png');
									}
									
									&.cold {
										background-image:url('../../images/finch/element-cold.png');
									}
									
									&.lightning {
										background-image:url('../../images/finch/element-lightning.png');
									}
									
									&.arcane {
										background-image:url('../../images/finch/element-arcane.png');
									}
									
									&.earth {
										background-image:url('../../images/finch/element-earth.png');
									}
									
									&.fire {
										background-image:url('../../images/finch/element-fire.png');
									}
									
								}
							}
						}
						
					}
					
					#stats-overview-slot {
						display:table-cell;
						width:100%;
						color:#fff;
						
						h2 {							
							font-size:16px;
							font-weight:normal;
							padding:7px;
						}						
					}
				}
								
			}
				
		}	
		
	}
	
}
