* {
  margin: 0px;
  padding: 0px;
}
html {
  font-family: Tahoma;
  height: 100%;
}
html body {
  background: url('../../images/finch/magicka-background.jpg') no-repeat center #020c12;
  height: 100%;
}
html body #title-bar {
  padding: 5px;
  color: #FFF;
}
html body #title-bar > div {
  margin: auto;
  max-width: 990px;
}
html body #title-bar a {
  color: #FFF;
}
html body .ward-group {
  position: relative;
}
html body .ward-group .outer-ward {
  -webkit-mask-image: url('../../images/finch/ward-outer-mask.png');
  -o-mask-image: url('../../images/finch/ward-outer-mask.png');
  mask: url('../../images/finch/ward-outer-mask.png');
  mask-image: url('../../images/finch/ward-outer-mask.png');
  -webkit-mask-size: cover;
  -o-mask-size: cover;
  -moz-mask-size: cover;
  mask-size: cover;
  height: 100%;
  width: 100%;
}
html body .ward-group .outer-ward > div {
  width: 100%;
  height: 100%;
}
html body .ward-group .inner-ward {
  position: absolute;
  top: 0px;
  -webkit-mask-image: url('../../images/finch/ward-inner-mask.png');
  -o-mask-image: url('../../images/finch/ward-inner-mask.png');
  -moz-mask-image: url('../../images/finch/ward-inner-mask.png');
  mask-image: url('../../images/finch/ward-inner-mask.png');
  -webkit-mask-size: cover;
  -o-mask-size: cover;
  -moz-mask-size: cover;
  mask-size: cover;
  height: 100%;
  width: 100%;
}
html body .ward-group .inner-ward > div {
  width: 100%;
  height: 100%;
}
html body .ward-group .water {
  background-color: blue;
}
html body .ward-group .life {
  background-color: green;
}
html body .ward-group .shield {
  background-color: yellow;
}
html body .ward-group .cold {
  background-color: white;
}
html body .ward-group .lightning {
  background-color: purple;
}
html body .ward-group .arcane {
  background-color: darkred;
}
html body .ward-group .earth {
  background-color: brown;
}
html body .ward-group .fire {
  background-color: red;
}
html body .elements > div {
  background-size: cover;
  height: 46px;
  width: 46px;
}
html body .elements .water {
  background-image: url('../../images/finch/element-water.png');
}
html body .elements .life {
  background-image: url('../../images/finch/element-life.png');
}
html body .elements .shield {
  background-image: url('../../images/finch/element-shield.png');
}
html body .elements .cold {
  background-image: url('../../images/finch/element-cold.png');
}
html body .elements .lightning {
  background-image: url('../../images/finch/element-lightning.png');
}
html body .elements .arcane {
  background-image: url('../../images/finch/element-arcane.png');
}
html body .elements .earth {
  background-image: url('../../images/finch/element-earth.png');
}
html body .elements .fire {
  background-image: url('../../images/finch/element-fire.png');
}
html body .elements .unknown {
  background-image: url('../../images/finch/element-unknown.png');
}
html body div.fizzling {
  width: 46px;
  height: 46px;
  display: inline-block;
  margin: 6px 0px 0px 2px;
}
html body #main-wrap {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: table;
  margin: auto;
}
html body #main-wrap .rows {
  background-color: #333;
}
html body #main-wrap .rows .row {
  font-size: 14px;
  clear: both;
  padding: 6px 0px;
}
html body #main-wrap .rows .row .elements {
  margin-right: 15px;
}
html body #main-wrap .rows .row .elements > div {
  display: inline-block;
  width: 30px;
  height: 30px;
}
html body #main-wrap .rows .row:nth-child(even) {
  background-color: #292929;
  border-top: 1px solid #3A3737;
  border-bottom: 1px solid #3A3737;
}
html body #main-wrap .rows .row > div {
  margin: 3px 0px 3px 7px;
}
html body #main-wrap .rows .row .label {
  clear: both;
  display: inline-block;
  float: left;
  width: 130px;
}
html body #main-wrap .rows .row .value {
  display: inline-block;
  float: left;
}
html body #main-wrap #playing-field {
  display: table-cell;
  vertical-align: middle;
  max-width: 1000px;
  min-width: 800px;
  margin: auto;
}
html body #main-wrap #playing-field * {
  vertical-align: top;
}
html body #main-wrap #playing-field #status-bar {
  background: #000;
  border-bottom: 5px solid #111;
}
html body #main-wrap #playing-field #battlefield {
  overflow: hidden;
  max-width: 990px;
  position: relative;
  border: 5px solid #111;
  border-top: none;
  border-bottom: none;
  height: 400px;
  background: url('../../images/finch/battlefield-background.jpg');
}
html body #main-wrap #playing-field #battlefield #battlefield-particle-effects,
html body #main-wrap #playing-field #battlefield #battlefield-line-effects {
  position: absolute;
  z-index: 16;
}
html body #main-wrap #playing-field #battlefield #opponent-slot {
  position: absolute;
  width: 218px;
}
html body #main-wrap #playing-field #battlefield #opponent-slot .opponent {
  position: relative;
  width: 190px;
}
html body #main-wrap #playing-field #battlefield #opponent-slot .opponent .player-icon {
  background: url('../../images/finch/objective-mage.png');
  width: 70px;
  height: 85px;
  position: absolute;
  left: 67px;
  top: 71px;
  z-index: 10;
}
html body #main-wrap #playing-field #battlefield #opponent-slot .opponent .ward-group {
  left: 44px;
  top: 44px;
}
html body #main-wrap #playing-field #battlefield #opponent-slot .opponent .ward-group > div {
  width: 124px;
  height: 124px;
}
html body #main-wrap #playing-field #battlefield #opponent-slot .opponent .shield {
  display: none;
  background: url('../../images/finch/dome-shield.png');
  position: absolute;
  top: 0px;
  left: 0px;
  width: 218px;
  height: 218px;
  z-index: 15;
}
html body #main-wrap #playing-field #battlefield #opponent-slot .opponent .shield.active {
  display: block;
}
html body #main-wrap #playing-field #battlefield #opponent-slot .opponent .defensive-wall {
  display: none;
  background: url('../../images/finch/rock-wall-down.png');
  position: absolute;
  width: 213px;
  height: 75px;
  top: 150px;
}
html body #main-wrap #playing-field #battlefield #opponent-slot .opponent .defensive-wall.active {
  display: block;
}
html body #main-wrap #playing-field #battlefield .countdown {
  position: absolute;
  top: 257px;
  left: 325px;
  font-size: 60px;
  color: #FFF;
}
html body #main-wrap #playing-field #battlefield #game-title-slot {
  z-index: 50;
  position: relative;
  padding: 5px;
  background: #111;
  color: #FFF;
}
html body #main-wrap #playing-field #battlefield #game-title-slot > * {
  padding: 5px;
  display: inline-block;
}
html body #main-wrap #playing-field #battlefield #game-title-slot #cancel-game {
  float: right;
  margin-right: 320px;
  width: 110px;
  text-align: center;
  background: #DA5E5E;
  display: none;
  cursor: pointer;
}
html body #main-wrap #playing-field #battlefield #round-history-slot {
  width: 321px;
  position: absolute;
  z-index: 60;
  top: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.4) 15%, transparent 16%) 0 0, radial-gradient(rgba(0, 0, 0, 0.4) 15%, transparent 16%) 8px 8px, radial-gradient(rgba(200, 200, 200, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(200, 200, 200, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #333;
  background-size: 16px 16px;
  color: #FFF;
  overflow-y: auto;
  border-left: 5px solid #111;
  box-shadow: inset 3px 3px 7px 0px rgba(0, 0, 0, 0.75);
}
html body #main-wrap #playing-field #battlefield #round-history-slot .game {
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.5);
}
html body #main-wrap #playing-field #battlefield #round-history-slot .game .header {
  background: #5B747A;
  border-bottom: 1px solid #111;
  cursor: pointer;
}
html body #main-wrap #playing-field #battlefield #round-history-slot .game .header h2 {
  width: 180px;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 5px;
}
html body #main-wrap #playing-field #battlefield #round-history-slot .game .header .total-time {
  position: relative;
  top: 10px;
}
html body #main-wrap #playing-field #battlefield #round-history-slot .game .elements {
  float: left;
  width: 145px;
}
html body #main-wrap #playing-field #battlefield #round-history-slot .game .elements .fumble {
  background-image: url('../../images/finch/fumble.png');
  height: 20px;
  width: 20px;
  margin: 5px;
}
html body #main-wrap #playing-field #battlefield #round-history-slot .game .row {
  clear: both;
}
html body #main-wrap #playing-field #battlefield #round-history-slot .game .time {
  float: left;
  margin: 7px 0px 0px 25px;
}
html body #main-wrap #playing-field #battlefield .mode-instructions {
  width: 450px;
  position: absolute;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: #333;
  box-shadow: 0px 0px 30px 0px rgba(122, 153, 187, 0.51);
  display: none;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .nav {
  padding: 10px 15px;
  background: #111;
  color: #FFF;
  cursor: pointer;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .body {
  padding: 10px;
  color: #FFF;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .body .sub-option {
  margin: 10px 10px 10px 0px;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .body .sub-option .header {
  width: 100px;
  display: inline-block;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .body .sub-option .value {
  display: inline-block;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .body .animated-instructions {
  margin-top: 15px;
  margin-bottom: 30px;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .body .animated-instructions .elements {
  display: inline-block;
  margin-right: 15px;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .body .animated-instructions .elements > div {
  display: inline-block;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .body .input {
  display: inline-block;
  margin-top: 10px;
}
html body #main-wrap #playing-field #battlefield .mode-instructions .body .start-button {
  float: right;
  text-align: center;
  background: #299125;
  border: 1px solid #0A1B09;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
}
html body #main-wrap #playing-field #battlefield #mode-selection {
  display: none;
  width: 450px;
  position: absolute;
  top: 150px;
  left: 75px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: #333;
  box-shadow: 0px 0px 30px 0px rgba(122, 153, 187, 0.51);
}
html body #main-wrap #playing-field #battlefield #mode-selection .options {
  padding: 10px 15px;
  background: #111;
  color: #FFF;
}
html body #main-wrap #playing-field #battlefield #mode-selection .options .round-length select {
  margin-left: 15px;
}
html body #main-wrap #playing-field #battlefield #mode-selection .mode {
  border-bottom: 1px solid #111;
  border-top: 1px solid #666;
  color: #FFF;
}
html body #main-wrap #playing-field #battlefield #mode-selection .mode:hover {
  background: #444;
  cursor: pointer;
}
html body #main-wrap #playing-field #battlefield #mode-selection .mode:first-child {
  border-top: none;
}
html body #main-wrap #playing-field #battlefield #mode-selection .mode .mode-inner {
  padding: 15px;
}
html body #main-wrap #playing-field #battlefield #mode-selection .mode .mode-inner h3 {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
}
html body #main-wrap #playing-field #battlefield #mode-selection .mode .mode-inner .image {
  width: 80px;
  height: 44px;
  margin: -18px 0px;
  display: inline-block;
  float: right;
}
html body #main-wrap #playing-field #battlefield #mode-selection .mode .mode-inner.dequeue-mode .image {
  background-image: url('../../images/finch/cancel-queue-mode-icon.png');
}
html body #main-wrap #playing-field #battlefield #mode-selection .mode .mode-inner.queue-mode .image {
  margin-top: -11px;
  background-image: url('../../images/finch/queue-mode-icon.png');
}
html body #main-wrap #playing-field #battlefield #mode-selection a {
  margin-top: 30px;
  display: block;
  padding: 10px;
  background: #96da76;
  border-radius: 5px;
  border: 1px solid #4C8133;
  cursor: pointer;
}
html body #main-wrap #playing-field #battlefield #objective-history {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-height: 190px;
  overflow-y: hidden;
}
html body #main-wrap #playing-field #battlefield #objective-history .history-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 20px 10px #000;
}
html body #main-wrap #playing-field #battlefield #objective-history .queue-header {
  float: left;
  width: 120px;
  margin-right: 50px;
  color: #FFF;
  font-size: .8em;
  margin-left: 5px;
}
html body #main-wrap #playing-field #battlefield #objective-history .time-header {
  float: left;
  color: #FFF;
  font-size: .8em;
  margin-left: 3px;
}
html body #main-wrap #playing-field #battlefield #objective-history .time {
  float: left;
  margin: 11px;
  color: #FFF;
}
html body #main-wrap #playing-field #battlefield #objective-history .queue {
  width: 120px;
  margin-right: 50px;
  float: left;
}
html body #main-wrap #playing-field #battlefield #objective-history .queue div {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  margin: 6px 0px 0px 2px;
}
html body #main-wrap #playing-field #battlefield .element-queue {
  position: absolute;
  width: 171px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  z-index: 60;
}
html body #main-wrap #playing-field #battlefield .element-queue.helper-mode {
  background: none;
  border: none;
  opacity: .75;
}
html body #main-wrap #playing-field #battlefield .element-queue > div {
  width: 46px;
  height: 46px;
  display: inline-block;
  background-size: cover;
  margin: 6px 0px 0px 2px;
}
html body #main-wrap #playing-field #battlefield .element-queue .cast-bar {
  display: none;
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: rgba(236, 231, 115, 0.35);
  left: -2px;
  top: -30px;
}
html body #main-wrap #playing-field #battlefield .element-queue .cast-bar > div {
  background-color: #e7e748;
  height: 100%;
  width: 0%;
}
html body #main-wrap #playing-field #player-information {
  border: 5px solid #111;
  border-top: none;
  background: url('../../images/finch/card-draw-background.png');
  overflow: hidden;
  display: table;
}
html body #main-wrap #playing-field #player-information #player-controls {
  padding: 10px;
  width: 280px;
  border-right: 1px solid #5F5F5F;
  box-shadow: inset -1px 0px #000000;
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div.row1 {
  margin-top: 10px;
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div.row2 {
  margin-left: 30px;
  margin-top: -5px;
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div {
  height: 80px;
  width: 53px;
  display: inline-block;
  margin-right: 5px;
  background-position: bottom;
  background-repeat: no-repeat;
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div span {
  font-size: 18px;
  color: #FFF;
  display: block;
  text-align: center;
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.pressed {
  position: relative;
  top: 3px;
  left: 3px;
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.active:before {
  width: 53px;
  height: 80px;
  position: absolute;
  background: radial-gradient(circle at center 52px, rgba(255, 255, 255, 0.8) 0px, rgba(255, 255, 255, 0) 30px);
  content: "";
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.water {
  background-image: url('../../images/finch/element-water.png');
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.life {
  background-image: url('../../images/finch/element-life.png');
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.shield {
  background-image: url('../../images/finch/element-shield.png');
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.cold {
  background-image: url('../../images/finch/element-cold.png');
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.lightning {
  background-image: url('../../images/finch/element-lightning.png');
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.arcane {
  background-image: url('../../images/finch/element-arcane.png');
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.earth {
  background-image: url('../../images/finch/element-earth.png');
}
html body #main-wrap #playing-field #player-information #player-controls #elements-controls > div > div.fire {
  background-image: url('../../images/finch/element-fire.png');
}
html body #main-wrap #playing-field #player-information #stats-overview-slot {
  display: table-cell;
  width: 100%;
  color: #fff;
}
html body #main-wrap #playing-field #player-information #stats-overview-slot h2 {
  font-size: 16px;
  font-weight: normal;
  padding: 7px;
}
