
* {
	margin:0px;
	padding:0px;
}

html {
	font-family:Tahoma;
	height:100%;

	body {		
		background:url('../../images/finch/magicka-background.jpg') no-repeat center #020C12;	
		height:100%;	
	
		a {
			color: #CCCCFF;
			border-bottom: 1px dashed #CCCCFF;
			text-decoration: none;
		}
	
		#credits-banner {
			width:149px;
			height:149px;
			cursor:pointer;
			background:url('../../images/finch/credits-banner.png');
			position:fixed;
			top:0px;
			left:0px;
			z-index:1000;
		}
	
		#credits-content {
			display:none;
			position:fixed;
			background-color:rgba(0,0,0,.75);
			top:0px;
			right:0px;
			bottom:0px;
			left:0px;
			z-index:1001;
			
			#credits-window {
				position:fixed;
				border: 5px solid rgba(0,0,0,.75);
				border-radius: 5px;
				background: #333;
				box-shadow: 0px 0px 30px 0px rgba(122, 153, 187, 0.51);
				width:600px;				
				color:#FFF;

				.nav {
					padding: 10px 15px;
					background: #111;
					color: #FFF;
					
					.nav-back {
						float:left;
						cursor:pointer;
					}
					height:25px;
				}
				
				.body {
					padding:10px;
								
					p {
						margin-top:10px;														
					}
					
					li {
						margin: 5px 0px 5px 20px;
						list-style-type:none;
					}					
				}
			}
			
		}
	
		#title-bar {
			padding:5px;
			color:#FFF;
			
			> div {
				margin:auto;
				max-width:990px;
			}
			
			a {
				color:#FFF;
			}	
		}
	
		.ward-group {
			position:relative;
			height:124px;
			width:124px;			
						
			.outer-ward {		
				height:100%;
				width:100%;				
				
				> div {
					background-image: url('../../images/finch/ward-sprites.png');
					width:100%;
					height:100%;
				}
				
				.lightning {
					background-position:0px 124px;
				}
				
				.water {
					background-position:-124px 124px;
				}
				
				.earth {
					background-position:-248px 124px;
				}
				
				.cold {
					background-position:-372px 124px;
				}
				
				.life {
					background-position:-495px 124px;
				}
				
				.arcane {
					background-position:-619px 124px;
				}
				
				.fire {
					background-position:-743px 124px;
				}
			}
			
			.inner-ward {
				position:absolute;	
				top:0px;
				
				height:100%;
				width:100%;
				
				> div {
					background-image: url('../../images/finch/ward-sprites.png');
					width:100%;
					height:100%;
				}
				
				.water {
					background-position:-124px 0px;
				}
				
				.earth {
					background-position:-248px 0px;
				}
				
				.cold {
					background-position:-372px 0px;
				}
				
				.life {
					background-position:-495px 0px;
				}
				
				.arcane {
					background-position:-619px 0px;
				}
				
				.fire {
					background-position:-743px 0px;
				}
			}
			
		}
	
		.elements {
			
			> div {
				background-size:cover;
				height:46px;
				width:46px;
			}
			
			.water {										
				background-image:url('../../images/finch/element-water.png');
			}
			
			.life {
				background-image:url('../../images/finch/element-life.png');
			}
			
			.shield {
				background-image:url('../../images/finch/element-shield.png');
			}
			
			.cold {
				background-image:url('../../images/finch/element-cold.png');
			}
			
			.lightning {
				background-image:url('../../images/finch/element-lightning.png');
			}
			
			.arcane {
				background-image:url('../../images/finch/element-arcane.png');
			}
			
			.earth {
				background-image:url('../../images/finch/element-earth.png');
			}
			
			.fire {
				background-image:url('../../images/finch/element-fire.png');
			}
			
			.unknown {
				background-image:url('../../images/finch/element-unknown.png');
			}
		}
	
		div.fizzling {							
			width:46px;
			height:46px;
			display:inline-block;			
			margin: 6px 0px 0px 2px;			
		}
	
		#main-wrap {
			width:100%;
			max-width:1000px;
			height:100%;
			display:table;
			margin:auto; 
			
			.rows {
				background-color:#333;
				.row {	
					font-size:14px;			
					clear:both;
					padding:6px 0px;
						
					.elements {
						
						> div {
							display:inline-block;
							width:30px;
							height:30px;
						}
						
						margin-right:15px;
						
					}
									
					&:nth-child(even) {
						background-color:#292929;
						border-top:1px solid #3A3737;
						border-bottom:1px solid #3A3737;
					}
					
					> div {
						margin:3px 0px 3px 7px;									
					}
					
					.label {
						clear:both;
						display:inline-block;
						float:left;
						width:130px;									
					}
					
					.value {
						display:inline-block;
						float:left;									
					}
				}
			}
			
			#playing-field {				
				display:table-cell;
				vertical-align:middle;
				max-width:1000px;
				min-width:800px;				
				margin:auto;								
				
				* {
					vertical-align:top;
				}
				
				#status-bar {					
					background:#000;
					border-bottom:5px solid #111;										
				}
				
				#battlefield {
					overflow:hidden;
					max-width:990px;
					position:relative;
					border:5px solid #111;
					border-top:none;
					border-bottom:none;
					height:400px;
					background:url('../../images/finch/battlefield-background.jpg');										
					
					#message-box {
						display:none;
						position: absolute;						
						z-index: 500;
						font-size: 40px;
						color: #FFF;
						text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
					}
					
					#battlefield-particle-effects, #battlefield-line-effects {
						position:absolute;
						z-index:16;						
					}
					
					#opponent-slot {
						position:absolute;					
						width:218px;
						
						.cast-bar {
							position: absolute;
							top: 25px;
							left: 10%;
							width: 80%;
							height: 5px;
														
							.inner {
								width:0%;
								height:100%;
								background:#FFFFCC;
							}
						}
						
						.health-bar {							
							position: absolute;
							width: 80%;
							height: 15px;
							background-color: rgba(0, 255, 0, 0.35);
							left: 10%;
							top: 10px;
							
							> div {
								background-color:rgb(0, 255, 0);
								height:100%;
								width:100%;
							}
						}
						
						.opponent {
							position:relative;
							width:190px;
							.player-icon {
								background:url('../../images/finch/objective-mage.png');
								width:70px;
								height:85px;
								position: absolute;
								left: 67px;
								top: 71px;
								z-index: 10;
							}
							
							.ward-group {
								left:44px;
								top:44px;
								width:124px;
								height:124px;
								
								.outer-ward, .inner-ward > div {
									background-size:868px;
								}				
							}
							
							.frozen-indicator {
								position:absolute;
								top: 65px;
								left: 67px;
								z-index: 10;
								
								width: 70px;
								height: 65px;
								background:url('../../images/finch/head-cube.png');
								background-size: cover;
								opacity:0;
								
								&.level-1 {
									opacity: .7;
								}
								
								&.level-2 {
									opacity: .75;
								}
								
								&.level-3 {
									opacity: .8;
								}
								
								&.level-4 {
									opacity: .85;
								}
								
								&.level-5 {
									opacity: .9;
								}
							}
							
							.shield {
								display:none;							
								background:url('../../images/finch/dome-shield.png');
								position:absolute;
								top:0px;
								left:0px;
								width:218px;
								height:218px;
								z-index:15;
								&.active {
									display:block;
								}
							}
							
							.defensive-wall {
								display:none;
								background:url('../../images/finch/rock-wall-down.png');							
								position:absolute;
								width:213px;
								height:75px;
								top:150px;
								&.active {
									display:block;
								}
							}
							
						}
						
					}
					
					.countdown {
						position: absolute;
						top: 257px;
						left: 325px;
						font-size: 60px;
						color: #FFF;						
					}
					
					#game-title-slot {
						z-index:50;						
						position:relative;
						padding: 5px;
						padding-right:326px;
						background: #111;
						color: #FFF;
						
						> * {
							padding:5px;
							display:inline-block;
						}
						
						#cancel-game {							
							float: right;							
							width: 50px;
							text-align: center;							
							background: #DA5E5E;
							display:none;	
							cursor:pointer;						
						}				
						
						#music-player {
							float:right;
							height:25px;
							margin-right:10px;
							
							.play-pause {
								display:inline-block;
								width:20px;
								height:20px;								
								cursor:pointer;
								background-image:url('../../images/finch/play-pause.png');	
																
								&.playing {
									background-position:-20px;
								}
								
								&.paused {
									background-position:0px 0px;			
								}					
							}							
							
							.volume {
								display:inline-block;
								width:40px;
								height:20px;
								position:relative;	
								
								.background {
									position:absolute;
									top:9px;
									height:2px;
									width:100%;
									background:#999;
								}
								
								a {
									height: 14px;
									width: 1px;
									border-left:3px solid #FFF;
									border-right:3px solid #FFF;
									background-color: rgb(255, 255, 255);									
									display: inline-block;
									position: absolute;
									top:3px;									
								}
								 
							}
						}		
					}
					
					#round-history-slot {
						width:321px;
						position:absolute;
						z-index:60;
						top:0;
						right:0;
						bottom:0;
						background:
							radial-gradient(rgba(0,0,0,.4) 15%, transparent 16%) 0 0,
							radial-gradient(rgba(0,0,0,.4) 15%, transparent 16%) 8px 8px,
							radial-gradient(rgba(200,200,200,.1) 15%, transparent 20%) 0 1px,
							radial-gradient(rgba(200,200,200,.1) 15%, transparent 20%) 8px 9px;
						background-color:#333;
						background-size:16px 16px;
						color:#FFF;
						overflow-y:auto;
						border-left:5px solid #111;
						box-shadow: inset 3px 3px 7px 0px rgba(0,0,0,.75);
						
						.game {
							
							box-shadow: 0px 2px 7px 2px rgba(0,0,0,.5);
							
							.header {
							
								background:#467C96;
								border-bottom:1px solid #111;
								cursor:pointer;
							
								h2 {
									width: 180px;
									display: inline-block;									
									font-size:16px;
									font-weight:normal;
									padding:10px 5px;									
								}
								
								.total-time {
									position:relative;
									top:10px;
								}
								
							}
							
							.leaderboard-link {
								padding: 2px 5px;
								background: #111;
								cursor: pointer;
								color: #999;
								&:hover {
									color:#FFF;
								}
							}
							
							.segment-marker {
								padding: 2px 5px;
								background: #243A3F;
								color: #999;
								font-size: 12px;
							}
							
							.elements {
								float:left;
								width:145px;
								
								.fumble {
									background-image: url('../../images/finch/fumble.png');
									height: 20px;
									width: 20px;
									margin: 5px;
								}
								
							}
							
							.row {
								clear:both;
							}
							
							.time {
								float: left;
								margin: 7px 0px 0px 25px;
							}
							
						}
												
					}
					
					.mode-instructions {
						width:450px;
						position:absolute;
						border: 5px solid rgba(0,0,0,.5);
						border-radius: 5px;
						background: #333;
						box-shadow: 0px 0px 30px 0px rgba(122, 153, 187, 0.51);
						display:none;
						z-index:100;
						
						.nav {
							padding: 10px 15px;
							background: #111;
							color: #FFF;
							
							.nav-back {
								float:left;
								cursor:pointer;
							}
							height:25px;
						}
						
						.options {							
							background: #111;
							color: #FFF;
							float:right;
							
							#leaderboard-view-mode {
								margin-left:3px;
							}
							
							#leaderboard-view-span {
								margin-left:15px;
							}
							
							.round-length {
								select {
									margin-left:15px;
								}
							}
						}
						
						.leaderboard-waiter {
							position:absolute;
							top:45%;
							width:100%;
							height:30px;
							background:url('../../images/icons/ajax-loader-darkbg.gif');
							background-repeat:no-repeat;
							background-position:center center;							
							text-align:center;
						}
						
						.body {
							
							.leaderboard-warning {
								float: left;
								width: 300px;
								background: #FADE70;
								padding: 10px;
								border-radius: 5px;
								border: 1px solid #CAB668;
								color: #333;
								display:none;
							}
							
							ol {
								margin: 15px 0px 15px 40px;
							}
							
							&.leaderboard-results-slot {
								padding:0px;
								height:280px;
								position:relative;
								overflow-y:scroll;
								
								.error {
									cursor: pointer;
									width: 100%;
									top: 45%;
									position: absolute;
									text-align: center;
								}
								
								.totals {
									padding: 5px;
									font-size: 12px;
									color: #999;
									text-align: center;
									border-top: 1px solid #666;
								}
								
								.leaderboard-pane {
									display:none;																				
									.headers > div {
										padding:3px 0px 3px 7px;
										color:#999;
										font-size:12px;
									}
									.headers, .row  {
										&.highlighted {
											background-color:#467C96;
										}
										> div {
											display:inline-block;																					
										}
										
										.position {
											width:40px;	
										}
										
										.name {
											width:100px;
											
											.ss {
												vertical-align:super;
											}
											
										}
										
										.time {
											width:120px;
											text-align:right;
										}
																				
										.rounds {
											float:right;
											margin-right:10px;
										}										
									}
										
									.row {
										font-size:12px;
									}	
																										
								}
							}
							padding:10px;
							color:#FFF;	
							
							.sub-option {
								margin:10px 10px 10px 0px;
								.header {
									width:100px;
									display:inline-block;
								}
								.value {
									display:inline-block;
								}
							}
							
							.opposing-help {	
								.elements {
									margin-bottom:5px;
									&:first-child {
										margin-top:20px;
									}
									> div {										
										width:25px;
										height:25px;
										display:inline-block;
									}
								}								
							}
							
							.animated-instructions {
								margin-top:15px;
								margin-bottom:30px;
								.elements {
									display:inline-block;
									margin-right:15px;
									
									> div {										
										display:inline-block;																				
									}
								}
							}
							
							.input {
								display:inline-block;
								margin-top:10px;
							}
							
							.start-button {
								float: right;
								text-align: center;
								background: #299125;
								border: 1px solid #0A1B09;
								cursor: pointer;
								margin-bottom: 10px;
								padding: 10px;
								border-radius: 5px;
								color: #FFF;
							}
													
						}
						
					}
					
					#leaderboard-modal-background {
						position: absolute;
						top: 0px;
						right: 0px;
						bottom: 0px;
						left: 0px;
						background: rgba(0,0,0,.5);
						z-index: 140;
						display:none;
					}
					
					#leaderboard-name-window {
						width:400px;
						z-index:150;
						position:absolute;
						display:none;
						border: 5px solid rgba(0,0,0,.5);
						border-radius: 5px;
						background: #333;
						box-shadow: 0px 0px 30px 0px rgba(122, 153, 187, 0.51);
						padding:20px;
						color:#FFF;
						
						#leaderboard-name {
							width: 75%;
							font-size: 25px;
							margin-top:10px;						
						}
						
						#leaderboard-country {
							font-size: 25px;
							margin-top:10px;
							margin-bottom: 30px;
						}
						
						#save-score-yes-name {
							float: left;
							text-align: center;
							background: #299125;
							border: 1px solid #0A1B09;
							cursor: pointer;							
							padding: 10px;
							border-radius: 5px;
							color: #FFF;
						}
						
						#save-score-no-name {
							float: right;
							text-align: center;
							background: #DA5E5E;
							border: 1px solid #0A1B09;
							cursor: pointer;							
							padding: 10px;
							border-radius: 5px;
							color: #FFF;
						}
					}
					
					#mode-selection {
						z-index:100;
						display:none;
						width: 450px;
						position: absolute;
						top: 150px;						
						left: 75px;
						border: 5px solid rgba(0,0,0,.5);
						border-radius: 5px;
						background: #333;
						box-shadow: 0px 0px 30px 0px rgba(122, 153, 187, 0.51);
												
						.mode {
							&:hover {
								background:#444;
								cursor:pointer;
							}
							&:first-child {
								border-top:none;
							}
							border-bottom:1px solid #111;
							border-top:1px solid #666;							
							color:#FFF;
																					
							.mode-inner {
								padding:15px;
								h3 {
									margin:0px;
									padding:0px;
									font-size:20px;
									font-weight:normal;
									display:inline-block;														
								}
								
								.image {
									width:80px;
									height:44px;
									margin:-18px 0px;
									display:inline-block;
									float:right;
								}
								
								&.dequeue-mode {
									.image {										
										background-image:url('../../images/finch/cancel-queue-mode-icon.png');
									}
								}
								
								&.queue-mode {
									.image {									
										margin-top:-11px;	
										background-image:url('../../images/finch/queue-mode-icon.png');
									}
								}
								
								&.offensive-mode {
									.image {										
										background-image:url('../../images/finch/offensive-mode-icon.png');
										margin-top:-10px;
									}
								}
								
								&.olympic-mode {
									.image {										
										background-image:url('../../images/finch/olympic-mode-icon.png');
										margin-top:-10px;
									}
								}
								
							}							
						}
						
						a {
							margin-top:30px;							
							display:block;
							padding:10px;
							background:rgb(150, 218, 118);
							border-radius:5px;
							border: 1px solid #4C8133;
							cursor:pointer;
						}
												
					}
					
					#objective-history {
						position:absolute;
						background: rgba(0,0,0,.5);
						padding: 10px;
						border-radius: 5px;
						margin-bottom:5px; 
						max-height: 190px;
						overflow-y: hidden;
						
						.history-shadow {
							position: absolute;
							bottom: 0;
							width: 100%;
							z-index: 10;
							box-shadow: 0px 0px 20px 10px #000;
						}
						
						.queue-header {
							float:left;
							width:120px;
							margin-right:50px;
							color:#FFF;
							font-size:.8em;
							margin-left:5px;
						}
						
						.time-header {
							float:left;
							color:#FFF;
							font-size:.8em;
							margin-left:3px;
						}
						
						.time {
							float:left;
							margin:11px;
							color:#FFF;
						}
						
						.queue {	
							
							width:120px;
							margin-right:50px;
							float:left;
												 
							div {
								width:30px;
								height:30px;
								display:inline-block;
								background-size:cover;
								margin: 6px 0px 0px 2px;								
							}	
							
						}	
						
					}
					
					.element-queue {
						position:absolute;
						width:171px;
						height:60px;
						border-radius:5px;
						border:2px solid #FFF;
						background-color:rgba(0,0,0,.5);
						padding-left:15px;
						z-index:60;
												
						&.helper-mode {
							background:none;
							border:none;
							opacity:.75;
						}
						
						> div {
							
							width:46px;
							height:46px;
							display:inline-block;
							background-size:cover;
							margin: 6px 0px 0px 2px;							
						}
						
						.cast-bar {
							display:none;
							position: absolute;
							width: 100%;
							height: 15px;
							background-color: rgba(236, 231, 115, 0.35);
							left: -2px;
							top: -30px;
							
							> div {
								background-color:rgb(231, 231, 72);
								height:100%;
								width:0%;
							}
						}
																		
					}
					
				}
				
				#player-information {
					border:5px solid #111;
					border-top:none;					
					background:url('../../images/finch/card-draw-background.png');
					overflow:hidden;
					display:table;
															
					#player-controls {
						position:relative;																		
						padding:10px;
						height:178px;
						width:280px;
						border-right:1px solid #5F5F5F;
						box-shadow:inset -1px 0px #000;
											
						#edit-keybindings {
							position:absolute;
							top:0px;
							right:0px;
							width:58px;
							height:58px;
							background:url('../../images/finch/settings.png');
							cursor:pointer;
						}					
											
						#keybindings {
							position:absolute;
							top:0px;
							right:0px;
							bottom:0px;
							left:0px;
							background:rgba(0,0,0,.85);
							display:none;
							color:#FFF;
							z-index:50;
							
							> div {
								width:50%;
								float:left;
									
								> div {									
									margin:20px;
									
									> * {
										margin-bottom:5px;
									}
									
									span {
										display:block;
										float:left;
										clear:both;
										width:70px;										
									}
									
									input{
										display:block;
										float:left;
										width:20px;		
										text-align:center;
										border:none;
										height:18px;							
									}
								}
							}
							
							.cast-button {
								margin:5px 0px 0px 20px;
								span {
									display:block;
								}
								
								#cast-left-click, #cast-right-click {
									background-image:url('../../images/finch/mouse-buttons.png');
									width:23px;
									height:35px;
									display:inline-block;
									opacity:.4;
									cursor:pointer;
									
									&.selected {
										opacity:1;
									}
								}
								
								#cast-left-click {									
									margin:4px 10px 0px 8px;									
								}
								
								#cast-right-click {									
									background-position: -37px;									
									margin:4px 10px 0px 0px;									
								}
							}
							
							.buttons {
								position:absolute;
								right:10px;
								bottom:10px;
							}
							
							#save-keybindings {	
								float:right;	
								margin:0px 10px 0px 0px;						
								display:inline-block;								
								text-align: center;
								background: #299125;
								border: 1px solid #0A1B09;
								cursor: pointer;								
								padding: 10px;
								border-radius: 5px;
								color: #FFF;							
							}
							
							#cancel-keybindings {	
								float:right;
								margin:0px;							
								display:inline-block;
								text-align: center;
								background: #DA5E5E;
								border: 1px solid #0A1B09;
								cursor: pointer;								
								padding: 10px;
								border-radius: 5px;
								color: #FFF;							
							}
						}
												
						#elements-controls {
							> div {
								
								&.row1 {
									margin-top:10px;
								}
							
								&.row2 {									
									margin-left:30px;
									margin-top:-5px;
								}
							
								> div {
									height:80px;
									width:53px;
									display:inline-block;
									margin-right:5px;									
									background-position:bottom;
									background-repeat:no-repeat;
									
									span {
										font-size:18px;
										color:#FFF;
										display:block;
										text-align:center;
									}
									
									&.pressed {
										position:relative;
										top:3px;
										left:3px;
									}
									
									&.active:before {
										width:53px;
										height:80px;
										position:absolute;
										background:radial-gradient(circle at center 52px, rgba(255,255,255,.8) 0px,rgba(255,255,255,0) 30px);
										content:"";
									}
									
									&.water {										
										background-image:url('../../images/finch/element-water.png');
									}
									
									&.life {
										background-image:url('../../images/finch/element-life.png');
									}
									
									&.shield {
										background-image:url('../../images/finch/element-shield.png');
									}
									
									&.cold {
										background-image:url('../../images/finch/element-cold.png');
									}
									
									&.lightning {
										background-image:url('../../images/finch/element-lightning.png');
									}
									
									&.arcane {
										background-image:url('../../images/finch/element-arcane.png');
									}
									
									&.earth {
										background-image:url('../../images/finch/element-earth.png');
									}
									
									&.fire {
										background-image:url('../../images/finch/element-fire.png');
									}
									
								}
							}
						}
						
					}
					
					#stats-overview-slot {
						display:table-cell;
						width:100%;
						color:#fff;
						background:#333;
						
						.row-header {
							background:#111;
							
							h2 {								
								width:50%;
								float:left;						
								font-size:16px;
								font-weight:normal;
								margin:7px 0px 7px 7px;
							}	
							
							> h2+h2 {
								width:30%;
								margin-left:0px;
							}
						}
						
						.rows {
							width:50%;
							float:left;
							
							&.simple {
								.row {
									box-shadow: -1px 0px #666 inset;
								}
							}	
							
							.elements > div {
								position:relative;
								top:-3px;
								height:25px;
								width:25px;
							}												
						}					
					}
				}
								
			}
				
		}	
		
	}
	
}
