.HeaderBarGradient {
  background: #447194;
  background: -moz-linear-gradient(top, #5f9ece 0%, #447194 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f9ece), color-stop(100%, #447194));
  background: -webkit-linear-gradient(top, #5f9ece 0%, #447194 100%);
  background: -o-linear-gradient(top, #5f9ece 0%, #447194 100%);
  background: -ms-linear-gradient(top, #5f9ece 0%, #447194 100%);
  background: linear-gradient(to bottom, #5f9ece 0%, #447194 100%);
  border: 1px solid #447194;
  border-bottom: 1px solid #133651;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.Post .post {
  padding: 1% 0% 1% 1%;
}
.Post .post > :last-child {
  margin-bottom: 0px;
}
.Post .post,
.Post .teaser {
  padding: 20px;
  font-size: 16px;
  /* desert scheme ported from vim to google prettify */
}
.Post .post p,
.Post .teaser p {
  margin-bottom: 30px;
  line-height: 20px;
  word-wrap: break-word;
}
.Post .post h1,
.Post .teaser h1 {
  font-size: 22px;
  margin: 40px 0px 20px 0px;
}
.Post .post h1:first-child,
.Post .teaser h1:first-child {
  margin-top: 0px;
}
.Post .post .photo-list,
.Post .teaser .photo-list {
  text-align: center;
}
.Post .post .photo-list ul,
.Post .teaser .photo-list ul {
  margin: 50px 0px 50px 0px;
  display: inline-block;
}
.Post .post .photo-list li,
.Post .teaser .photo-list li {
  display: inline-block;
  width: 30%;
}
.Post .post .photo-list li:before,
.Post .teaser .photo-list li:before {
  display: none !important;
}
.Post .post .photo-list li img,
.Post .teaser .photo-list li img {
  width: 100%;
}
.Post .post ul,
.Post .teaser ul {
  padding-left: 5px;
  list-style-type: none;
}
.Post .post ul li,
.Post .teaser ul li {
  margin-left: 15px;
  line-height: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
}
.Post .post ul li:before,
.Post .teaser ul li:before {
  content: '\f054';
  font-family: FontAwesome;
  margin-left: 0px;
  width: 0px;
  position: relative;
  left: -15px;
  top: -1px;
  display: inline-block;
  font-size: 10px;
}
.Post .post ol,
.Post .teaser ol {
  padding-left: 5px;
  margin-left: 35px;
}
.Post .post ol li,
.Post .teaser ol li {
  margin-bottom: 15px;
}
.Post .post > pre,
.Post .teaser > pre {
  margin-bottom: 30px;
}
.Post .post code.prettyprint,
.Post .teaser code.prettyprint {
  overflow-x: auto;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: .8em;
  display: block;
  background-color: #444;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px #CCC;
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
.Post .post code.prettyprint *,
.Post .teaser code.prettyprint * {
  font-weight: normal !important;
}
.Post .post code.prettyprint .nocode,
.Post .teaser code.prettyprint .nocode {
  background-color: none;
  color: #000000;
}
.Post .post code.prettyprint .str,
.Post .teaser code.prettyprint .str {
  color: #ffa0a0;
}
.Post .post code.prettyprint .kwd,
.Post .teaser code.prettyprint .kwd {
  color: #f0e68c;
  font-weight: bold;
}
.Post .post code.prettyprint .com,
.Post .teaser code.prettyprint .com {
  color: #87ceeb;
}
.Post .post code.prettyprint .typ,
.Post .teaser code.prettyprint .typ {
  color: #98fb98;
}
.Post .post code.prettyprint .lit,
.Post .teaser code.prettyprint .lit {
  color: #cd5c5c;
}
.Post .post code.prettyprint .pun,
.Post .teaser code.prettyprint .pun {
  color: #ffffff;
}
.Post .post code.prettyprint .pln,
.Post .teaser code.prettyprint .pln {
  color: #ffffff;
}
.Post .post code.prettyprint .tag,
.Post .teaser code.prettyprint .tag {
  color: #f0e68c;
  font-weight: bold;
}
.Post .post code.prettyprint .atn,
.Post .teaser code.prettyprint .atn {
  color: #bdb76b;
  font-weight: bold;
}
.Post .post code.prettyprint .atv,
.Post .teaser code.prettyprint .atv {
  color: #ffa0a0;
}
.Post .post code.prettyprint .dec,
.Post .teaser code.prettyprint .dec {
  color: #98fb98;
}
.Post .post code.prettyprint ol.linenums,
.Post .teaser code.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  color: #777;
}
.Post .post code.prettyprint ol.linenums li,
.Post .teaser code.prettyprint ol.linenums li {
  margin-bottom: 3px;
}
.Post .post code.prettyprint li,
.Post .teaser code.prettyprint li {
  list-style-type: decimal;
}
.Post .post code.prettyprint li.L1,
.Post .teaser code.prettyprint li.L1,
.Post .post code.prettyprint li.L3,
.Post .teaser code.prettyprint li.L3,
.Post .post code.prettyprint li.L5,
.Post .teaser code.prettyprint li.L5,
.Post .post code.prettyprint li.L7,
.Post .teaser code.prettyprint li.L7,
.Post .post code.prettyprint li.L9,
.Post .teaser code.prettyprint li.L9 {
  background: #444444;
}
@media print {
  .Post .post code.prettyprint prettyprint,
  .Post .teaser code.prettyprint prettyprint {
    background-color: none;
  }
  .Post .post code.prettyprint .str,
  .Post .teaser code.prettyprint .str,
  .Post .post code.prettyprint code .str,
  .Post .teaser code.prettyprint code .str {
    color: #006600;
  }
  .Post .post code.prettyprint .kwd,
  .Post .teaser code.prettyprint .kwd,
  .Post .post code.prettyprint code .kwd,
  .Post .teaser code.prettyprint code .kwd {
    color: #006;
    font-weight: bold;
  }
  .Post .post code.prettyprint .com,
  .Post .teaser code.prettyprint .com,
  .Post .post code.prettyprint code .com,
  .Post .teaser code.prettyprint code .com {
    color: #600;
    font-style: italic;
  }
  .Post .post code.prettyprint .typ,
  .Post .teaser code.prettyprint .typ,
  .Post .post code.prettyprint code .typ,
  .Post .teaser code.prettyprint code .typ {
    color: #404;
    font-weight: bold;
  }
  .Post .post code.prettyprint .lit,
  .Post .teaser code.prettyprint .lit,
  .Post .post code.prettyprint code .lit,
  .Post .teaser code.prettyprint code .lit {
    color: #004444;
  }
  .Post .post code.prettyprint .pun,
  .Post .teaser code.prettyprint .pun,
  .Post .post code.prettyprint code .pun,
  .Post .teaser code.prettyprint code .pun {
    color: #444400;
  }
  .Post .post code.prettyprint .pln,
  .Post .teaser code.prettyprint .pln,
  .Post .post code.prettyprint code .pln,
  .Post .teaser code.prettyprint code .pln {
    color: #000000;
  }
  .Post .post code.prettyprint .tag,
  .Post .teaser code.prettyprint .tag,
  .Post .post code.prettyprint code .tag,
  .Post .teaser code.prettyprint code .tag {
    color: #006;
    font-weight: bold;
  }
  .Post .post code.prettyprint .atn,
  .Post .teaser code.prettyprint .atn,
  .Post .post code.prettyprint code .atn,
  .Post .teaser code.prettyprint code .atn {
    color: #440044;
  }
  .Post .post code.prettyprint .atv,
  .Post .teaser code.prettyprint .atv,
  .Post .post code.prettyprint code .atv,
  .Post .teaser code.prettyprint code .atv {
    color: #006600;
  }
}
#main-wrap #main-content #markdown_preview .post {
  padding: 1% 0% 1% 1%;
}
#main-wrap #main-content #markdown_preview .post > :last-child {
  margin-bottom: 0px;
}
#main-wrap #main-content #markdown_preview .post,
#main-wrap #main-content #markdown_preview .teaser {
  padding: 20px;
  font-size: 16px;
  /* desert scheme ported from vim to google prettify */
}
#main-wrap #main-content #markdown_preview .post p,
#main-wrap #main-content #markdown_preview .teaser p {
  margin-bottom: 30px;
  line-height: 20px;
  word-wrap: break-word;
}
#main-wrap #main-content #markdown_preview .post h1,
#main-wrap #main-content #markdown_preview .teaser h1 {
  font-size: 22px;
  margin: 40px 0px 20px 0px;
}
#main-wrap #main-content #markdown_preview .post h1:first-child,
#main-wrap #main-content #markdown_preview .teaser h1:first-child {
  margin-top: 0px;
}
#main-wrap #main-content #markdown_preview .post .photo-list,
#main-wrap #main-content #markdown_preview .teaser .photo-list {
  text-align: center;
}
#main-wrap #main-content #markdown_preview .post .photo-list ul,
#main-wrap #main-content #markdown_preview .teaser .photo-list ul {
  margin: 50px 0px 50px 0px;
  display: inline-block;
}
#main-wrap #main-content #markdown_preview .post .photo-list li,
#main-wrap #main-content #markdown_preview .teaser .photo-list li {
  display: inline-block;
  width: 30%;
}
#main-wrap #main-content #markdown_preview .post .photo-list li:before,
#main-wrap #main-content #markdown_preview .teaser .photo-list li:before {
  display: none !important;
}
#main-wrap #main-content #markdown_preview .post .photo-list li img,
#main-wrap #main-content #markdown_preview .teaser .photo-list li img {
  width: 100%;
}
#main-wrap #main-content #markdown_preview .post ul,
#main-wrap #main-content #markdown_preview .teaser ul {
  padding-left: 5px;
  list-style-type: none;
}
#main-wrap #main-content #markdown_preview .post ul li,
#main-wrap #main-content #markdown_preview .teaser ul li {
  margin-left: 15px;
  line-height: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
}
#main-wrap #main-content #markdown_preview .post ul li:before,
#main-wrap #main-content #markdown_preview .teaser ul li:before {
  content: '\f054';
  font-family: FontAwesome;
  margin-left: 0px;
  width: 0px;
  position: relative;
  left: -15px;
  top: -1px;
  display: inline-block;
  font-size: 10px;
}
#main-wrap #main-content #markdown_preview .post ol,
#main-wrap #main-content #markdown_preview .teaser ol {
  padding-left: 5px;
  margin-left: 35px;
}
#main-wrap #main-content #markdown_preview .post ol li,
#main-wrap #main-content #markdown_preview .teaser ol li {
  margin-bottom: 15px;
}
#main-wrap #main-content #markdown_preview .post > pre,
#main-wrap #main-content #markdown_preview .teaser > pre {
  margin-bottom: 30px;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint {
  overflow-x: auto;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: .8em;
  display: block;
  background-color: #444;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px #CCC;
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
#main-wrap #main-content #markdown_preview .post code.prettyprint *,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint * {
  font-weight: normal !important;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .nocode,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .nocode {
  background-color: none;
  color: #000000;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .str,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .str {
  color: #ffa0a0;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .kwd,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .kwd {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .com,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .com {
  color: #87ceeb;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .typ,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .typ {
  color: #98fb98;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .lit,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .lit {
  color: #cd5c5c;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .pun,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .pun {
  color: #ffffff;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .pln,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .pln {
  color: #ffffff;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .tag,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .tag {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .atn,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .atn {
  color: #bdb76b;
  font-weight: bold;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .atv,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .atv {
  color: #ffa0a0;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .dec,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .dec {
  color: #98fb98;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint ol.linenums,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  color: #777;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint ol.linenums li,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint ol.linenums li {
  margin-bottom: 3px;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint li,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li {
  list-style-type: decimal;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L1,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L1,
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L3,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L3,
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L5,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L5,
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L7,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L7,
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L9,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L9 {
  background: #444444;
}
@media print {
  #main-wrap #main-content #markdown_preview .post code.prettyprint prettyprint,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint prettyprint {
    background-color: none;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .str,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .str,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .str,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .str {
    color: #006600;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .kwd,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .kwd,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .kwd,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .kwd {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .com,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .com,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .com,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .com {
    color: #600;
    font-style: italic;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .typ,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .typ,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .typ,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .typ {
    color: #404;
    font-weight: bold;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .lit,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .lit,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .lit,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .lit {
    color: #004444;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .pun,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .pun,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .pun,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .pun {
    color: #444400;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .pln,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .pln,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .pln,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .pln {
    color: #000000;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .tag,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .tag,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .tag,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .tag {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .atn,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .atn,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .atn,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .atn {
    color: #440044;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .atv,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .atv,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .atv,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .atv {
    color: #006600;
  }
}
#main-wrap #main-content .tag-list {
  border: 1px solid #CCC;
  border-radius: 2px;
  background: #FEFEFE;
  margin-left: 10px;
  float: left;
  position: relative;
  top: -5px;
}
#main-wrap #main-content .tag-list .tag-list-expander {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
#main-wrap #main-content .tag-list .tag-list-expander i {
  text-align: right;
  padding-left: 5px;
}
#main-wrap #main-content .tag-list .tag-list-expander.expanded {
  border-bottom: 1px dashed #FFF;
  z-index: 60;
  position: relative;
}
#main-wrap #main-content .tag-list .tag-list-expander:hover {
  cursor: pointer;
  background-color: #FFF;
}
#main-wrap #main-content .tag-list .hidden-tags {
  display: none;
  min-width: 200px;
  position: absolute;
  z-index: 50;
  background: #FEFEFE;
  top: 34px;
  padding: 0px;
  box-shadow: 1px 1px 1px 1px #EEE;
  border-radius: 2px;
  border: 1px solid #CCC;
  margin-left: -1px;
}
#main-wrap #main-content .tag-list .post-tag {
  white-space: nowrap;
  padding: 10px 0px 10px 10px;
  border-bottom: 1px solid #DDD;
}
@media (max-width: 825px) {
  #main-wrap #main-content .tag-list {
    clear: left;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
    top: 0px;
  }
  #main-wrap #main-content .tag-list .tag-list-expander i {
    float: right;
  }
  #main-wrap #main-content .tag-list .hidden-tags {
    position: relative;
    top: 0px;
    border: none;
    border-top: 1px dashed #DDD;
    border-right: 1px solid #DDD;
    margin-left: 0px;
    margin-right: -1px;
    box-shadow: none;
  }
}
#main-wrap #main-content .month-group {
  font-size: 2em;
  font-weight: normal;
  margin: 20px 10px;
  border-bottom: 1px solid #DDD;
  padding: 10px 0px;
  border-top: 1px solid #DDD;
  color: #CCC;
  text-shadow: rgba(0, 0, 0, 0.17) -1px 0, rgba(0, 0, 0, 0.2) 0 -1px, rgba(255, 255, 255, 0) 0 1px, rgba(0, 0, 0, 0.18) -1px -1px;
}
#main-wrap #main-content .post-teasers {
  clear: left;
  overflow: visible !important;
  /*.post-teaser:first-child {
			padding-top:0px;			
		}*/
}
#main-wrap #main-content .post-teasers .post {
  padding: 1% 0% 1% 1%;
}
#main-wrap #main-content .post-teasers .post > :last-child {
  margin-bottom: 0px;
}
#main-wrap #main-content .post-teasers .post,
#main-wrap #main-content .post-teasers .teaser {
  padding: 20px;
  font-size: 16px;
  /* desert scheme ported from vim to google prettify */
}
#main-wrap #main-content .post-teasers .post p,
#main-wrap #main-content .post-teasers .teaser p {
  margin-bottom: 30px;
  line-height: 20px;
  word-wrap: break-word;
}
#main-wrap #main-content .post-teasers .post h1,
#main-wrap #main-content .post-teasers .teaser h1 {
  font-size: 22px;
  margin: 40px 0px 20px 0px;
}
#main-wrap #main-content .post-teasers .post h1:first-child,
#main-wrap #main-content .post-teasers .teaser h1:first-child {
  margin-top: 0px;
}
#main-wrap #main-content .post-teasers .post .photo-list,
#main-wrap #main-content .post-teasers .teaser .photo-list {
  text-align: center;
}
#main-wrap #main-content .post-teasers .post .photo-list ul,
#main-wrap #main-content .post-teasers .teaser .photo-list ul {
  margin: 50px 0px 50px 0px;
  display: inline-block;
}
#main-wrap #main-content .post-teasers .post .photo-list li,
#main-wrap #main-content .post-teasers .teaser .photo-list li {
  display: inline-block;
  width: 30%;
}
#main-wrap #main-content .post-teasers .post .photo-list li:before,
#main-wrap #main-content .post-teasers .teaser .photo-list li:before {
  display: none !important;
}
#main-wrap #main-content .post-teasers .post .photo-list li img,
#main-wrap #main-content .post-teasers .teaser .photo-list li img {
  width: 100%;
}
#main-wrap #main-content .post-teasers .post ul,
#main-wrap #main-content .post-teasers .teaser ul {
  padding-left: 5px;
  list-style-type: none;
}
#main-wrap #main-content .post-teasers .post ul li,
#main-wrap #main-content .post-teasers .teaser ul li {
  margin-left: 15px;
  line-height: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
}
#main-wrap #main-content .post-teasers .post ul li:before,
#main-wrap #main-content .post-teasers .teaser ul li:before {
  content: '\f054';
  font-family: FontAwesome;
  margin-left: 0px;
  width: 0px;
  position: relative;
  left: -15px;
  top: -1px;
  display: inline-block;
  font-size: 10px;
}
#main-wrap #main-content .post-teasers .post ol,
#main-wrap #main-content .post-teasers .teaser ol {
  padding-left: 5px;
  margin-left: 35px;
}
#main-wrap #main-content .post-teasers .post ol li,
#main-wrap #main-content .post-teasers .teaser ol li {
  margin-bottom: 15px;
}
#main-wrap #main-content .post-teasers .post > pre,
#main-wrap #main-content .post-teasers .teaser > pre {
  margin-bottom: 30px;
}
#main-wrap #main-content .post-teasers .post code.prettyprint,
#main-wrap #main-content .post-teasers .teaser code.prettyprint {
  overflow-x: auto;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: .8em;
  display: block;
  background-color: #444;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px #CCC;
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
#main-wrap #main-content .post-teasers .post code.prettyprint *,
#main-wrap #main-content .post-teasers .teaser code.prettyprint * {
  font-weight: normal !important;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .nocode,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .nocode {
  background-color: none;
  color: #000000;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .str,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .str {
  color: #ffa0a0;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .kwd,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .kwd {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .com,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .com {
  color: #87ceeb;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .typ,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .typ {
  color: #98fb98;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .lit,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .lit {
  color: #cd5c5c;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .pun,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .pun {
  color: #ffffff;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .pln,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .pln {
  color: #ffffff;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .tag,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .tag {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .atn,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .atn {
  color: #bdb76b;
  font-weight: bold;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .atv,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .atv {
  color: #ffa0a0;
}
#main-wrap #main-content .post-teasers .post code.prettyprint .dec,
#main-wrap #main-content .post-teasers .teaser code.prettyprint .dec {
  color: #98fb98;
}
#main-wrap #main-content .post-teasers .post code.prettyprint ol.linenums,
#main-wrap #main-content .post-teasers .teaser code.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  color: #777;
}
#main-wrap #main-content .post-teasers .post code.prettyprint ol.linenums li,
#main-wrap #main-content .post-teasers .teaser code.prettyprint ol.linenums li {
  margin-bottom: 3px;
}
#main-wrap #main-content .post-teasers .post code.prettyprint li,
#main-wrap #main-content .post-teasers .teaser code.prettyprint li {
  list-style-type: decimal;
}
#main-wrap #main-content .post-teasers .post code.prettyprint li.L1,
#main-wrap #main-content .post-teasers .teaser code.prettyprint li.L1,
#main-wrap #main-content .post-teasers .post code.prettyprint li.L3,
#main-wrap #main-content .post-teasers .teaser code.prettyprint li.L3,
#main-wrap #main-content .post-teasers .post code.prettyprint li.L5,
#main-wrap #main-content .post-teasers .teaser code.prettyprint li.L5,
#main-wrap #main-content .post-teasers .post code.prettyprint li.L7,
#main-wrap #main-content .post-teasers .teaser code.prettyprint li.L7,
#main-wrap #main-content .post-teasers .post code.prettyprint li.L9,
#main-wrap #main-content .post-teasers .teaser code.prettyprint li.L9 {
  background: #444444;
}
@media print {
  #main-wrap #main-content .post-teasers .post code.prettyprint prettyprint,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint prettyprint {
    background-color: none;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .str,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .str,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .str,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .str {
    color: #006600;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .kwd,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .kwd,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .kwd,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .kwd {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .com,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .com,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .com,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .com {
    color: #600;
    font-style: italic;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .typ,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .typ,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .typ,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .typ {
    color: #404;
    font-weight: bold;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .lit,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .lit,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .lit,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .lit {
    color: #004444;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .pun,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .pun,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .pun,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .pun {
    color: #444400;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .pln,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .pln,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .pln,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .pln {
    color: #000000;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .tag,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .tag,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .tag,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .tag {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .atn,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .atn,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .atn,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .atn {
    color: #440044;
  }
  #main-wrap #main-content .post-teasers .post code.prettyprint .atv,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint .atv,
  #main-wrap #main-content .post-teasers .post code.prettyprint code .atv,
  #main-wrap #main-content .post-teasers .teaser code.prettyprint code .atv {
    color: #006600;
  }
}
#main-wrap #main-content .post-teasers .post-teaser-wrap {
  width: 50%;
}
@media (max-width: 825px) {
  #main-wrap #main-content .post-teasers .post-teaser-wrap {
    width: 100%;
    margin: 0% 0% 1% 0%;
  }
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .post-teaser {
  border-radius: 2px;
  border: 1px solid #CCC;
  background: rgba(255, 255, 255, 0.9);
  margin: 1%;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .teaser > :last-child {
  margin-bottom: 0px;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .header h2.title {
  padding: 15px 20px;
  font-size: 2em;
  font-weight: normal;
  border-bottom: 1px solid #EEE;
}
@media (max-width: 600px) {
  #main-wrap #main-content .post-teasers .post-teaser-wrap .header h2.title {
    font-size: 1.5em;
  }
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .header h2.title a:hover {
  text-decoration: underline;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .footer {
  border-top: 1px solid #EEE;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .footer .publish-date,
#main-wrap #main-content .post-teasers .post-teaser-wrap .footer .tags {
  padding: 10px 20px;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .footer .publish-date {
  margin-top: 1px;
  float: right;
  font-size: 1.1em;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .footer .tags {
  border-right: 1px solid #EEE;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .footer .tags {
  float: right;
  padding-left: 40px;
  background: url('../images/icons/tag_blue.png') 20px center no-repeat;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .footer .tags ul {
  list-style-type: none;
  margin-left: 0px;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .footer .tags li {
  display: inline-block;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .teaser-image {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-top: 25px;
  margin-right: 2%;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .teaser-image img {
  width: 100%;
}
#main-wrap #main-content .post-teasers .post-teaser-wrap .teaser.has-image {
  display: inline-block;
  width: 77%;
}
#main-wrap #main-content .resume #general-info {
  position: relative;
}
#main-wrap #main-content .resume .blog-top {
  border-bottom: 1px solid #CCC;
}
#main-wrap #main-content .resume .stat-group {
  margin-bottom: 15px;
}
#main-wrap #main-content .resume .stat-group .definition {
  border-top: 1px dashed #CCC;
  margin-top: 10px;
  padding-top: 3px;
  font-family: Palatino Linotype;
  color: #999;
  font-variant: small-caps;
}
#main-wrap #main-content .resume .stat-group.horizontal .stat {
  float: right;
  margin-right: 5px;
}
#main-wrap #main-content .resume .stat-group.horizontal .definition {
  border-top: none;
  margin-top: 5px !important;
  padding-bottom: 3px;
  border-bottom: 1px dashed #CCC;
}
@media (max-width: 985px) {
  #main-wrap #main-content .resume .stat-group.name {
    margin-left: 60px;
  }
}
@media (max-width: 550px) {
  #main-wrap #main-content .resume .stat-group.name {
    margin-left: inherit;
  }
}
#main-wrap #main-content .resume .stat-group.age {
  width: 30%;
  display: inline-block;
  float: left;
}
#main-wrap #main-content .resume .stat-group.class {
  width: 60%;
  display: inline-block;
  float: left;
  margin-left: 10%;
}
#main-wrap #main-content .resume #character-stats {
  width: 25%;
  float: left;
}
@media (max-width: 985px) {
  #main-wrap #main-content .resume #character-stats {
    width: 40%;
    margin-right: 5%;
  }
}
@media (max-width: 550px) {
  #main-wrap #main-content .resume #character-stats {
    width: 100%;
  }
}
#main-wrap #main-content .resume #picture {
  width: 35%;
  float: left;
  height: 207px;
  background: url('../images/character-pic.png') no-repeat center;
}
@media (max-width: 985px) {
  #main-wrap #main-content .resume #picture {
    width: 50px;
    background-size: contain;
    float: left;
    left: 15px;
    top: -5px;
    position: absolute;
  }
}
@media (max-width: 550px) {
  #main-wrap #main-content .resume #picture {
    position: inherit;
    width: 100%;
    margin-bottom: 20px;
  }
}
#main-wrap #main-content .resume #character-attributes {
  width: 40%;
  float: left;
}
@media (max-width: 985px) {
  #main-wrap #main-content .resume #character-attributes {
    width: 55%;
  }
}
@media (max-width: 550px) {
  #main-wrap #main-content .resume #character-attributes {
    width: 100%;
  }
}
#main-wrap #main-content .resume .attribute-group {
  clear: both;
}
#main-wrap #main-content .resume .attribute-group .left {
  float: left;
  width: 35%;
}
#main-wrap #main-content .resume .attribute-group .left .title {
  font-family: Palatino Linotype;
  color: #FDFDFD;
  font-variant: small-caps;
  background: #333;
  text-align: center;
}
#main-wrap #main-content .resume .attribute-group .left .title span {
  display: inline-block;
  margin: 5px;
}
#main-wrap #main-content .resume .attribute-group .right {
  float: left;
}
#main-wrap #main-content .resume .attribute-group .right .attribute-value {
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  font-size: 22px;
  text-align: center;
  float: left;
}
#main-wrap #main-content .resume .attribute-group .right .attribute-value span {
  position: relative;
  top: 14px;
}
#main-wrap #main-content .resume .attribute-group .right .save {
  width: 100px;
  height: 50px;
  margin-left: 10px;
  background: #333;
  float: left;
  border: 2px solid #333;
}
#main-wrap #main-content .resume .attribute-group .right .save .total {
  border-radius: 50%;
  background: #FDFDFD;
  height: 50px;
  width: 50px;
  font-size: 22px;
  text-align: center;
  float: left;
}
#main-wrap #main-content .resume .attribute-group .right .save .total span {
  position: relative;
  top: 14px;
}
#main-wrap #main-content .resume .attribute-group .right .save .definition {
  float: left;
  color: #FDFDFD;
  width: 50px;
  font-family: Palatino Linotype;
  font-variant: small-caps;
  text-align: center;
  margin-top: 7px;
}
#main-wrap #main-content .resume #adventure-log {
  padding-top: 30px;
  clear: both;
}
#main-wrap #main-content .resume #adventure-log .adventure {
  margin-bottom: 30px;
}
#main-wrap #main-content .resume #adventure-log .company-info .stat-group {
  width: 25%;
  float: left;
  margin-right: 5%;
}
#main-wrap #main-content .resume #adventure-log .notebox {
  clear: both;
  border: 2px solid #333;
  margin-bottom: 15px;
}
#main-wrap #main-content .resume #adventure-log .notebox h3 {
  margin: 0px;
  padding: 5px 0px 10px 5px;
  font-family: Palatino Linotype;
  font-variant: small-caps;
  background: #333;
  color: #FDFDFD;
}
#main-wrap #main-content .resume #adventure-log .notebox ul {
  margin: 20px 10px 20px 0px;
  padding-left: 0px !important;
}
#main-wrap #main-content .resume #skills .xp-bar {
  width: 100%;
  margin: 0px;
  text-align: inherit;
}
#main-wrap #main-content .resume #skills .xp-bar .title {
  width: 65%;
  display: inline-block;
  position: relative;
  top: -3px;
}
#main-wrap #main-content .resume #skills .xp-bar .bar {
  height: 20px;
  width: 32%;
  display: inline-block;
}
#main-wrap #main-content .resume .xp-bar {
  width: 29%;
  display: inline-block;
  margin: 20px 0px 30px 3%;
  text-align: center;
}
#main-wrap #main-content .resume .xp-bar .bar {
  height: 30px;
  position: relative;
  margin-top: 10px;
}
#main-wrap #main-content .resume .xp-bar .bar .background {
  width: 100%;
  height: 100%;
  background-color: #284054;
  box-shadow: inset 0px 0px 5px 1px #000;
}
#main-wrap #main-content .resume .xp-bar .bar .filled-amount {
  height: 100%;
  outline: 2px solid #284054;
  border-style: inset;
  background-color: #5A8DB3;
  position: absolute;
  top: 0px;
  left: 0px;
}
#main-wrap #main-content .resume .xp-bar .bar .segments {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}
#main-wrap #main-content .resume .xp-bar .bar .segments div {
  width: 25%;
  float: left;
  height: 100%;
  box-shadow: 1px 0px #000;
}
#main-wrap #main-content .resume .xp-bar .bar .segments div:last-child {
  box-shadow: none;
}
#main-wrap #main-content .resume .xp-bar.red .bar .filled-amount {
  background-color: #CC403A;
}
#main-wrap #main-content .resume .xp-bar.yellow .bar .filled-amount {
  background-color: #D6E05B;
}
#main-wrap #main-content .resume #skills .legend {
  float: left;
  padding: 15px 10px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  background: #DDD;
}
#main-wrap #main-content .resume #skills .legend div {
  display: inline-block;
  margin-right: 15px;
}
#main-wrap #main-content .resume #skills .legend div:before {
  margin: 0px 5px 1px 0px;
  width: 10px;
  height: 10px;
  background: black;
  display: inline-block;
  content: '';
}
#main-wrap #main-content .resume #skills .legend div.prestige-class-skill:before {
  background: #5A8DB3;
}
#main-wrap #main-content .resume #skills .skill-group {
  width: 48%;
  margin: 20px 2% 0px 0px;
  display: inline-block;
  float: left;
}
@media (max-width: 600px) {
  #main-wrap #main-content .resume #skills .skill-group {
    width: 100%;
    margin: 0px;
  }
}
#main-wrap #main-content .resume #skills .skill-group .skill {
  border-bottom: 1px dashed #CCC;
  padding-bottom: 5px;
}
#main-wrap #main-content .resume #skills .skill-group .class .title:after {
  width: 10px;
  height: 10px;
  background: black;
  display: inline-block;
  content: '';
  position: relative;
  left: 5px;
  top: -2px;
}
#main-wrap #main-content .resume #skills .skill-group .class.prestige .title:after {
  background: #5A8DB3;
}
#main-wrap #main-content .resume #extra-curriculars {
  clear: both;
  margin-top: 30px;
}
#main-wrap #main-content #blogpost {
  position: relative;
}
#main-wrap #main-content #blogpost .leftcol-content {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  border: 1px solid #CCC;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  float: left;
  width: 75%;
  margin-bottom: 1%;
  /*
			.footer {
				border-top:1px solid #EEE;				
			}
			*/
}
@media (max-width: 825px) {
  #main-wrap #main-content #blogpost .leftcol-content {
    width: 100%;
  }
}
#main-wrap #main-content #blogpost .leftcol-content .blog-top h1 {
  padding: 15px 20px;
  font-weight: normal;
}
#main-wrap #main-content #blogpost .leftcol-content h2 {
  margin: 0px -20px 0px -20px;
  padding: 20px;
  border-top: 1px dashed #CCC;
}
#main-wrap #main-content #blogpost .leftcol-content .post {
  padding: 1% 0% 1% 1%;
}
#main-wrap #main-content #blogpost .leftcol-content .post > :last-child {
  margin-bottom: 0px;
}
#main-wrap #main-content #blogpost .leftcol-content .post,
#main-wrap #main-content #blogpost .leftcol-content .teaser {
  padding: 20px;
  font-size: 16px;
  /* desert scheme ported from vim to google prettify */
}
#main-wrap #main-content #blogpost .leftcol-content .post p,
#main-wrap #main-content #blogpost .leftcol-content .teaser p {
  margin-bottom: 30px;
  line-height: 20px;
  word-wrap: break-word;
}
#main-wrap #main-content #blogpost .leftcol-content .post h1,
#main-wrap #main-content #blogpost .leftcol-content .teaser h1 {
  font-size: 22px;
  margin: 40px 0px 20px 0px;
}
#main-wrap #main-content #blogpost .leftcol-content .post h1:first-child,
#main-wrap #main-content #blogpost .leftcol-content .teaser h1:first-child {
  margin-top: 0px;
}
#main-wrap #main-content #blogpost .leftcol-content .post .photo-list,
#main-wrap #main-content #blogpost .leftcol-content .teaser .photo-list {
  text-align: center;
}
#main-wrap #main-content #blogpost .leftcol-content .post .photo-list ul,
#main-wrap #main-content #blogpost .leftcol-content .teaser .photo-list ul {
  margin: 50px 0px 50px 0px;
  display: inline-block;
}
#main-wrap #main-content #blogpost .leftcol-content .post .photo-list li,
#main-wrap #main-content #blogpost .leftcol-content .teaser .photo-list li {
  display: inline-block;
  width: 30%;
}
#main-wrap #main-content #blogpost .leftcol-content .post .photo-list li:before,
#main-wrap #main-content #blogpost .leftcol-content .teaser .photo-list li:before {
  display: none !important;
}
#main-wrap #main-content #blogpost .leftcol-content .post .photo-list li img,
#main-wrap #main-content #blogpost .leftcol-content .teaser .photo-list li img {
  width: 100%;
}
#main-wrap #main-content #blogpost .leftcol-content .post ul,
#main-wrap #main-content #blogpost .leftcol-content .teaser ul {
  padding-left: 5px;
  list-style-type: none;
}
#main-wrap #main-content #blogpost .leftcol-content .post ul li,
#main-wrap #main-content #blogpost .leftcol-content .teaser ul li {
  margin-left: 15px;
  line-height: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
}
#main-wrap #main-content #blogpost .leftcol-content .post ul li:before,
#main-wrap #main-content #blogpost .leftcol-content .teaser ul li:before {
  content: '\f054';
  font-family: FontAwesome;
  margin-left: 0px;
  width: 0px;
  position: relative;
  left: -15px;
  top: -1px;
  display: inline-block;
  font-size: 10px;
}
#main-wrap #main-content #blogpost .leftcol-content .post ol,
#main-wrap #main-content #blogpost .leftcol-content .teaser ol {
  padding-left: 5px;
  margin-left: 35px;
}
#main-wrap #main-content #blogpost .leftcol-content .post ol li,
#main-wrap #main-content #blogpost .leftcol-content .teaser ol li {
  margin-bottom: 15px;
}
#main-wrap #main-content #blogpost .leftcol-content .post > pre,
#main-wrap #main-content #blogpost .leftcol-content .teaser > pre {
  margin-bottom: 30px;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint {
  overflow-x: auto;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: .8em;
  display: block;
  background-color: #444;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px #CCC;
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint *,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint * {
  font-weight: normal !important;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .nocode,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .nocode {
  background-color: none;
  color: #000000;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .str,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .str {
  color: #ffa0a0;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .kwd,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .kwd {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .com,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .com {
  color: #87ceeb;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .typ,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .typ {
  color: #98fb98;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .lit,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .lit {
  color: #cd5c5c;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .pun,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .pun {
  color: #ffffff;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .pln,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .pln {
  color: #ffffff;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .tag,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .tag {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .atn,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .atn {
  color: #bdb76b;
  font-weight: bold;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .atv,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .atv {
  color: #ffa0a0;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .dec,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .dec {
  color: #98fb98;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint ol.linenums,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  color: #777;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint ol.linenums li,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint ol.linenums li {
  margin-bottom: 3px;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint li,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint li {
  list-style-type: decimal;
}
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint li.L1,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint li.L1,
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint li.L3,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint li.L3,
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint li.L5,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint li.L5,
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint li.L7,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint li.L7,
#main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint li.L9,
#main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint li.L9 {
  background: #444444;
}
@media print {
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint prettyprint,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint prettyprint {
    background-color: none;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .str,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .str,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .str,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .str {
    color: #006600;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .kwd,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .kwd,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .kwd,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .kwd {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .com,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .com,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .com,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .com {
    color: #600;
    font-style: italic;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .typ,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .typ,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .typ,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .typ {
    color: #404;
    font-weight: bold;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .lit,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .lit,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .lit,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .lit {
    color: #004444;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .pun,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .pun,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .pun,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .pun {
    color: #444400;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .pln,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .pln,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .pln,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .pln {
    color: #000000;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .tag,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .tag,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .tag,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .tag {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .atn,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .atn,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .atn,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .atn {
    color: #440044;
  }
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint .atv,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint .atv,
  #main-wrap #main-content #blogpost .leftcol-content .post code.prettyprint code .atv,
  #main-wrap #main-content #blogpost .leftcol-content .teaser code.prettyprint code .atv {
    color: #006600;
  }
}
#main-wrap #main-content #blogpost .leftcol-content .post-subinfo {
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}
#main-wrap #main-content #blogpost .leftcol-content .post-subinfo .publish-date,
#main-wrap #main-content #blogpost .leftcol-content .post-subinfo .tags {
  float: left;
  padding: 10px 20px;
  border-left: 1px solid #EEE;
}
#main-wrap #main-content #blogpost .leftcol-content .post-subinfo .tags {
  float: left;
  padding-left: 40px;
  background: url('../images/icons/tag_blue.png') 20px center no-repeat;
}
#main-wrap #main-content #blogpost .leftcol-content .post-subinfo .tags ul {
  list-style-type: none;
  margin-left: 0px;
}
#main-wrap #main-content #blogpost .leftcol-content .post-subinfo .tags li {
  display: inline-block;
}
#main-wrap #main-content #blogpost .leftcol-content #disqus_thread {
  padding: 50px 20px 20px 20px;
  margin-top: 30px;
  border-top: 1px solid #CCC;
  box-shadow: inset 0px 1px #FFF;
}
#main-wrap #main-content #blogpost .rightcol-content {
  float: right;
  width: 24%;
}
@media (max-width: 825px) {
  #main-wrap #main-content #blogpost .rightcol-content {
    width: 100%;
  }
}
#main-wrap #main-content #blogpost .rightcol-content .groupwrapper {
  background: rgba(255, 255, 255, 0.9);
  margin: 0px 1% 4% 1%;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
@media (max-width: 825px) {
  #main-wrap #main-content #blogpost .rightcol-content .groupwrapper {
    width: 49%;
    display: block;
    float: left;
    margin: 1%;
  }
  #main-wrap #main-content #blogpost .rightcol-content .groupwrapper:nth-child(odd) {
    margin-left: 0%;
  }
  #main-wrap #main-content #blogpost .rightcol-content .groupwrapper:nth-child(even) {
    margin-right: 0%;
  }
}
@media (max-width: 420px) {
  #main-wrap #main-content #blogpost .rightcol-content .groupwrapper {
    width: 100%;
    margin-left: 0%;
  }
}
#main-wrap #main-content #blogpost .rightcol-content .groupwrapper .group {
  padding: 6% 6% 3% 6%;
  padding-bottom: 20px;
  border: 1px solid #CCC;
}
#main-wrap #main-content #blogpost .rightcol-content .groupwrapper .groupheader {
  text-align: center;
  background: url('../images/line-bg.gif') repeat-x center;
}
#main-wrap #main-content #blogpost .rightcol-content .groupwrapper .groupheader h3 {
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  padding: 0px 10px;
}
#main-wrap #main-content #blogpost .rightcol-content .groupwrapper .recent-post {
  margin-top: 20px;
}
#main-wrap #main-content #blogpost .rightcol-content .groupwrapper .recent-post .creation-date {
  margin-top: 7px;
  font-size: 12px;
  color: #666;
}
