.Post .post {
  padding: 1% 0% 1% 1%;
}
.Post .post,
.Post .teaser {
  padding: 20px;
  font-size: 18px;
  /* desert scheme ported from vim to google prettify */
}
.Post .post p,
.Post .teaser p {
  margin-bottom: 30px;
  line-height: 20px;
}
.Post .post h1,
.Post .teaser h1 {
  font-size: 22px;
  margin: 40px 0px 20px 0px;
}
.Post .post h1:first-child,
.Post .teaser h1:first-child {
  margin-top: 0px;
}
.Post .post .photo-list,
.Post .teaser .photo-list {
  text-align: center;
}
.Post .post .photo-list ul,
.Post .teaser .photo-list ul {
  margin: 50px 0px 50px 0px;
  display: inline-block;
}
.Post .post .photo-list li,
.Post .teaser .photo-list li {
  display: inline-block;
  width: 30%;
}
.Post .post .photo-list li:before,
.Post .teaser .photo-list li:before {
  display: none !important;
}
.Post .post .photo-list li img,
.Post .teaser .photo-list li img {
  width: 100%;
}
.Post .post ul,
.Post .teaser ul {
  padding-left: 5px;
  list-style-type: none;
}
.Post .post ul li,
.Post .teaser ul li {
  padding-left: 20px;
  margin-bottom: 15px;
}
.Post .post ul li:before,
.Post .teaser ul li:before {
  content: '\f054';
  font-family: FontAwesome;
  margin-left: 0px;
  margin-right: 15px;
  position: relative;
  top: -1px;
  display: inline-block;
  font-size: 10px;
}
.Post .post > pre,
.Post .teaser > pre {
  margin-bottom: 30px;
}
.Post .post code.prettyprint,
.Post .teaser code.prettyprint {
  font-family: monaco;
  font-size: .8em;
  display: block;
  background-color: #444;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px #CCC;
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
.Post .post code.prettyprint .nocode,
.Post .teaser code.prettyprint .nocode {
  background-color: none;
  color: #000000;
}
.Post .post code.prettyprint .str,
.Post .teaser code.prettyprint .str {
  color: #ffa0a0;
}
.Post .post code.prettyprint .kwd,
.Post .teaser code.prettyprint .kwd {
  color: #f0e68c;
  font-weight: bold;
}
.Post .post code.prettyprint .com,
.Post .teaser code.prettyprint .com {
  color: #87ceeb;
}
.Post .post code.prettyprint .typ,
.Post .teaser code.prettyprint .typ {
  color: #98fb98;
}
.Post .post code.prettyprint .lit,
.Post .teaser code.prettyprint .lit {
  color: #cd5c5c;
}
.Post .post code.prettyprint .pun,
.Post .teaser code.prettyprint .pun {
  color: #ffffff;
}
.Post .post code.prettyprint .pln,
.Post .teaser code.prettyprint .pln {
  color: #ffffff;
}
.Post .post code.prettyprint .tag,
.Post .teaser code.prettyprint .tag {
  color: #f0e68c;
  font-weight: bold;
}
.Post .post code.prettyprint .atn,
.Post .teaser code.prettyprint .atn {
  color: #bdb76b;
  font-weight: bold;
}
.Post .post code.prettyprint .atv,
.Post .teaser code.prettyprint .atv {
  color: #ffa0a0;
}
.Post .post code.prettyprint .dec,
.Post .teaser code.prettyprint .dec {
  color: #98fb98;
}
.Post .post code.prettyprint ol.linenums,
.Post .teaser code.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  color: #AEAEAE;
}
.Post .post code.prettyprint ol.linenums li,
.Post .teaser code.prettyprint ol.linenums li {
  margin-bottom: 3px;
}
.Post .post code.prettyprint li,
.Post .teaser code.prettyprint li {
  list-style-type: decimal;
}
.Post .post code.prettyprint li.L1,
.Post .teaser code.prettyprint li.L1,
.Post .post code.prettyprint li.L3,
.Post .teaser code.prettyprint li.L3,
.Post .post code.prettyprint li.L5,
.Post .teaser code.prettyprint li.L5,
.Post .post code.prettyprint li.L7,
.Post .teaser code.prettyprint li.L7,
.Post .post code.prettyprint li.L9,
.Post .teaser code.prettyprint li.L9 {
  background: #444444;
}
@media print {
  .Post .post code.prettyprint prettyprint,
  .Post .teaser code.prettyprint prettyprint {
    background-color: none;
  }
  .Post .post code.prettyprint .str,
  .Post .teaser code.prettyprint .str,
  .Post .post code.prettyprint code .str,
  .Post .teaser code.prettyprint code .str {
    color: #006600;
  }
  .Post .post code.prettyprint .kwd,
  .Post .teaser code.prettyprint .kwd,
  .Post .post code.prettyprint code .kwd,
  .Post .teaser code.prettyprint code .kwd {
    color: #006;
    font-weight: bold;
  }
  .Post .post code.prettyprint .com,
  .Post .teaser code.prettyprint .com,
  .Post .post code.prettyprint code .com,
  .Post .teaser code.prettyprint code .com {
    color: #600;
    font-style: italic;
  }
  .Post .post code.prettyprint .typ,
  .Post .teaser code.prettyprint .typ,
  .Post .post code.prettyprint code .typ,
  .Post .teaser code.prettyprint code .typ {
    color: #404;
    font-weight: bold;
  }
  .Post .post code.prettyprint .lit,
  .Post .teaser code.prettyprint .lit,
  .Post .post code.prettyprint code .lit,
  .Post .teaser code.prettyprint code .lit {
    color: #004444;
  }
  .Post .post code.prettyprint .pun,
  .Post .teaser code.prettyprint .pun,
  .Post .post code.prettyprint code .pun,
  .Post .teaser code.prettyprint code .pun {
    color: #444400;
  }
  .Post .post code.prettyprint .pln,
  .Post .teaser code.prettyprint .pln,
  .Post .post code.prettyprint code .pln,
  .Post .teaser code.prettyprint code .pln {
    color: #000000;
  }
  .Post .post code.prettyprint .tag,
  .Post .teaser code.prettyprint .tag,
  .Post .post code.prettyprint code .tag,
  .Post .teaser code.prettyprint code .tag {
    color: #006;
    font-weight: bold;
  }
  .Post .post code.prettyprint .atn,
  .Post .teaser code.prettyprint .atn,
  .Post .post code.prettyprint code .atn,
  .Post .teaser code.prettyprint code .atn {
    color: #440044;
  }
  .Post .post code.prettyprint .atv,
  .Post .teaser code.prettyprint .atv,
  .Post .post code.prettyprint code .atv,
  .Post .teaser code.prettyprint code .atv {
    color: #006600;
  }
}
#main-wrap #main-content #markdown_preview .post {
  padding: 1% 0% 1% 1%;
}
#main-wrap #main-content #markdown_preview .post,
#main-wrap #main-content #markdown_preview .teaser {
  padding: 20px;
  font-size: 18px;
  /* desert scheme ported from vim to google prettify */
}
#main-wrap #main-content #markdown_preview .post p,
#main-wrap #main-content #markdown_preview .teaser p {
  margin-bottom: 30px;
  line-height: 20px;
}
#main-wrap #main-content #markdown_preview .post h1,
#main-wrap #main-content #markdown_preview .teaser h1 {
  font-size: 22px;
  margin: 40px 0px 20px 0px;
}
#main-wrap #main-content #markdown_preview .post h1:first-child,
#main-wrap #main-content #markdown_preview .teaser h1:first-child {
  margin-top: 0px;
}
#main-wrap #main-content #markdown_preview .post .photo-list,
#main-wrap #main-content #markdown_preview .teaser .photo-list {
  text-align: center;
}
#main-wrap #main-content #markdown_preview .post .photo-list ul,
#main-wrap #main-content #markdown_preview .teaser .photo-list ul {
  margin: 50px 0px 50px 0px;
  display: inline-block;
}
#main-wrap #main-content #markdown_preview .post .photo-list li,
#main-wrap #main-content #markdown_preview .teaser .photo-list li {
  display: inline-block;
  width: 30%;
}
#main-wrap #main-content #markdown_preview .post .photo-list li:before,
#main-wrap #main-content #markdown_preview .teaser .photo-list li:before {
  display: none !important;
}
#main-wrap #main-content #markdown_preview .post .photo-list li img,
#main-wrap #main-content #markdown_preview .teaser .photo-list li img {
  width: 100%;
}
#main-wrap #main-content #markdown_preview .post ul,
#main-wrap #main-content #markdown_preview .teaser ul {
  padding-left: 5px;
  list-style-type: none;
}
#main-wrap #main-content #markdown_preview .post ul li,
#main-wrap #main-content #markdown_preview .teaser ul li {
  padding-left: 20px;
  margin-bottom: 15px;
}
#main-wrap #main-content #markdown_preview .post ul li:before,
#main-wrap #main-content #markdown_preview .teaser ul li:before {
  content: '\f054';
  font-family: FontAwesome;
  margin-left: 0px;
  margin-right: 15px;
  position: relative;
  top: -1px;
  display: inline-block;
  font-size: 10px;
}
#main-wrap #main-content #markdown_preview .post > pre,
#main-wrap #main-content #markdown_preview .teaser > pre {
  margin-bottom: 30px;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint {
  font-family: monaco;
  font-size: .8em;
  display: block;
  background-color: #444;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px #CCC;
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .nocode,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .nocode {
  background-color: none;
  color: #000000;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .str,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .str {
  color: #ffa0a0;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .kwd,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .kwd {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .com,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .com {
  color: #87ceeb;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .typ,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .typ {
  color: #98fb98;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .lit,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .lit {
  color: #cd5c5c;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .pun,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .pun {
  color: #ffffff;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .pln,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .pln {
  color: #ffffff;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .tag,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .tag {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .atn,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .atn {
  color: #bdb76b;
  font-weight: bold;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .atv,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .atv {
  color: #ffa0a0;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint .dec,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint .dec {
  color: #98fb98;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint ol.linenums,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  color: #AEAEAE;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint ol.linenums li,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint ol.linenums li {
  margin-bottom: 3px;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint li,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li {
  list-style-type: decimal;
}
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L1,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L1,
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L3,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L3,
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L5,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L5,
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L7,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L7,
#main-wrap #main-content #markdown_preview .post code.prettyprint li.L9,
#main-wrap #main-content #markdown_preview .teaser code.prettyprint li.L9 {
  background: #444444;
}
@media print {
  #main-wrap #main-content #markdown_preview .post code.prettyprint prettyprint,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint prettyprint {
    background-color: none;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .str,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .str,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .str,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .str {
    color: #006600;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .kwd,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .kwd,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .kwd,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .kwd {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .com,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .com,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .com,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .com {
    color: #600;
    font-style: italic;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .typ,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .typ,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .typ,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .typ {
    color: #404;
    font-weight: bold;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .lit,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .lit,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .lit,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .lit {
    color: #004444;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .pun,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .pun,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .pun,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .pun {
    color: #444400;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .pln,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .pln,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .pln,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .pln {
    color: #000000;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .tag,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .tag,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .tag,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .tag {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .atn,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .atn,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .atn,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .atn {
    color: #440044;
  }
  #main-wrap #main-content #markdown_preview .post code.prettyprint .atv,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint .atv,
  #main-wrap #main-content #markdown_preview .post code.prettyprint code .atv,
  #main-wrap #main-content #markdown_preview .teaser code.prettyprint code .atv {
    color: #006600;
  }
}
#main-wrap #main-content #post-teasers {
  /*.post-teaser:first-child {
			padding-top:0px;			
		}*/
}
#main-wrap #main-content #post-teasers .post {
  padding: 1% 0% 1% 1%;
}
#main-wrap #main-content #post-teasers .post,
#main-wrap #main-content #post-teasers .teaser {
  padding: 20px;
  font-size: 18px;
  /* desert scheme ported from vim to google prettify */
}
#main-wrap #main-content #post-teasers .post p,
#main-wrap #main-content #post-teasers .teaser p {
  margin-bottom: 30px;
  line-height: 20px;
}
#main-wrap #main-content #post-teasers .post h1,
#main-wrap #main-content #post-teasers .teaser h1 {
  font-size: 22px;
  margin: 40px 0px 20px 0px;
}
#main-wrap #main-content #post-teasers .post h1:first-child,
#main-wrap #main-content #post-teasers .teaser h1:first-child {
  margin-top: 0px;
}
#main-wrap #main-content #post-teasers .post .photo-list,
#main-wrap #main-content #post-teasers .teaser .photo-list {
  text-align: center;
}
#main-wrap #main-content #post-teasers .post .photo-list ul,
#main-wrap #main-content #post-teasers .teaser .photo-list ul {
  margin: 50px 0px 50px 0px;
  display: inline-block;
}
#main-wrap #main-content #post-teasers .post .photo-list li,
#main-wrap #main-content #post-teasers .teaser .photo-list li {
  display: inline-block;
  width: 30%;
}
#main-wrap #main-content #post-teasers .post .photo-list li:before,
#main-wrap #main-content #post-teasers .teaser .photo-list li:before {
  display: none !important;
}
#main-wrap #main-content #post-teasers .post .photo-list li img,
#main-wrap #main-content #post-teasers .teaser .photo-list li img {
  width: 100%;
}
#main-wrap #main-content #post-teasers .post ul,
#main-wrap #main-content #post-teasers .teaser ul {
  padding-left: 5px;
  list-style-type: none;
}
#main-wrap #main-content #post-teasers .post ul li,
#main-wrap #main-content #post-teasers .teaser ul li {
  padding-left: 20px;
  margin-bottom: 15px;
}
#main-wrap #main-content #post-teasers .post ul li:before,
#main-wrap #main-content #post-teasers .teaser ul li:before {
  content: '\f054';
  font-family: FontAwesome;
  margin-left: 0px;
  margin-right: 15px;
  position: relative;
  top: -1px;
  display: inline-block;
  font-size: 10px;
}
#main-wrap #main-content #post-teasers .post > pre,
#main-wrap #main-content #post-teasers .teaser > pre {
  margin-bottom: 30px;
}
#main-wrap #main-content #post-teasers .post code.prettyprint,
#main-wrap #main-content #post-teasers .teaser code.prettyprint {
  font-family: monaco;
  font-size: .8em;
  display: block;
  background-color: #444;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px #CCC;
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
#main-wrap #main-content #post-teasers .post code.prettyprint .nocode,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .nocode {
  background-color: none;
  color: #000000;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .str,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .str {
  color: #ffa0a0;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .kwd,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .kwd {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .com,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .com {
  color: #87ceeb;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .typ,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .typ {
  color: #98fb98;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .lit,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .lit {
  color: #cd5c5c;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .pun,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .pun {
  color: #ffffff;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .pln,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .pln {
  color: #ffffff;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .tag,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .tag {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .atn,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .atn {
  color: #bdb76b;
  font-weight: bold;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .atv,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .atv {
  color: #ffa0a0;
}
#main-wrap #main-content #post-teasers .post code.prettyprint .dec,
#main-wrap #main-content #post-teasers .teaser code.prettyprint .dec {
  color: #98fb98;
}
#main-wrap #main-content #post-teasers .post code.prettyprint ol.linenums,
#main-wrap #main-content #post-teasers .teaser code.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  color: #AEAEAE;
}
#main-wrap #main-content #post-teasers .post code.prettyprint ol.linenums li,
#main-wrap #main-content #post-teasers .teaser code.prettyprint ol.linenums li {
  margin-bottom: 3px;
}
#main-wrap #main-content #post-teasers .post code.prettyprint li,
#main-wrap #main-content #post-teasers .teaser code.prettyprint li {
  list-style-type: decimal;
}
#main-wrap #main-content #post-teasers .post code.prettyprint li.L1,
#main-wrap #main-content #post-teasers .teaser code.prettyprint li.L1,
#main-wrap #main-content #post-teasers .post code.prettyprint li.L3,
#main-wrap #main-content #post-teasers .teaser code.prettyprint li.L3,
#main-wrap #main-content #post-teasers .post code.prettyprint li.L5,
#main-wrap #main-content #post-teasers .teaser code.prettyprint li.L5,
#main-wrap #main-content #post-teasers .post code.prettyprint li.L7,
#main-wrap #main-content #post-teasers .teaser code.prettyprint li.L7,
#main-wrap #main-content #post-teasers .post code.prettyprint li.L9,
#main-wrap #main-content #post-teasers .teaser code.prettyprint li.L9 {
  background: #444444;
}
@media print {
  #main-wrap #main-content #post-teasers .post code.prettyprint prettyprint,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint prettyprint {
    background-color: none;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .str,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .str,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .str,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .str {
    color: #006600;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .kwd,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .kwd,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .kwd,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .kwd {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .com,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .com,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .com,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .com {
    color: #600;
    font-style: italic;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .typ,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .typ,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .typ,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .typ {
    color: #404;
    font-weight: bold;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .lit,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .lit,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .lit,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .lit {
    color: #004444;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .pun,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .pun,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .pun,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .pun {
    color: #444400;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .pln,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .pln,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .pln,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .pln {
    color: #000000;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .tag,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .tag,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .tag,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .tag {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .atn,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .atn,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .atn,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .atn {
    color: #440044;
  }
  #main-wrap #main-content #post-teasers .post code.prettyprint .atv,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint .atv,
  #main-wrap #main-content #post-teasers .post code.prettyprint code .atv,
  #main-wrap #main-content #post-teasers .teaser code.prettyprint code .atv {
    color: #006600;
  }
}
#main-wrap #main-content #post-teasers .post-teaser {
  width: 47%;
  margin: 1%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  border: 1px solid #DAE9FA;
  box-shadow: 0px 1px 1px 1px #DAE9FA;
}
#main-wrap #main-content #post-teasers .post-teaser .teaser > :last-child {
  margin-bottom: 0px;
}
#main-wrap #main-content #post-teasers .post-teaser .header {
  background: #447194;
  border-bottom: 1px solid #133651;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#main-wrap #main-content #post-teasers .post-teaser .header h2.title {
  padding: 15px 20px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: normal;
}
#main-wrap #main-content #post-teasers .post-teaser .header h2.title a {
  color: #FFF;
}
#main-wrap #main-content #post-teasers .post-teaser .header h2.title a:hover {
  text-decoration: underline;
}
#main-wrap #main-content #post-teasers .post-teaser .footer {
  border-top: 1px solid #EEE;
}
#main-wrap #main-content #post-teasers .post-teaser .footer .publish-date,
#main-wrap #main-content #post-teasers .post-teaser .footer .tags {
  padding: 10px 20px;
}
#main-wrap #main-content #post-teasers .post-teaser .footer .publish-date {
  margin-top: 1px;
  float: right;
  font-size: 1.1em;
}
#main-wrap #main-content #post-teasers .post-teaser .footer .tags {
  margin-top: 1px;
  float: right;
  font-size: 1.1em;
  padding-left: 40px;
  background: url('../images/icons/tag_blue.png') 20px center no-repeat;
  border-right: 1px solid #EEE;
}
#main-wrap #main-content #post-teasers .post-teaser .footer .tags ul {
  list-style-type: none;
  margin-left: 0px;
}
#main-wrap #main-content #post-teasers .post-teaser .footer .tags li {
  display: inline-block;
}
#main-wrap #main-content #post-teasers .post-teaser .teaser-image {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-top: 25px;
  margin-right: 2%;
}
#main-wrap #main-content #post-teasers .post-teaser .teaser-image img {
  width: 100%;
}
#main-wrap #main-content #post-teasers .post-teaser .teaser.has-image {
  display: inline-block;
  width: 77%;
}
#main-wrap #main-content .blog-body-wrapper .rightcol-background {
  clear: left;
  width: 100%;
  float: left;
  overflow: hidden;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-background {
  float: left;
  width: 100%;
  position: relative;
  right: 250px;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  border: 1px solid #DAE9FA;
  box-shadow: 0px 0px 1px 1px #DAE9FA;
  padding: 20px;
  position: relative;
  left: 252px;
  margin-right: 270px;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post {
  padding: 1% 0% 1% 1%;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser {
  padding: 20px;
  font-size: 18px;
  /* desert scheme ported from vim to google prettify */
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post p,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser p {
  margin-bottom: 30px;
  line-height: 20px;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post h1,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser h1 {
  font-size: 22px;
  margin: 40px 0px 20px 0px;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post h1:first-child,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser h1:first-child {
  margin-top: 0px;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post .photo-list,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser .photo-list {
  text-align: center;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post .photo-list ul,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser .photo-list ul {
  margin: 50px 0px 50px 0px;
  display: inline-block;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post .photo-list li,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser .photo-list li {
  display: inline-block;
  width: 30%;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post .photo-list li:before,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser .photo-list li:before {
  display: none !important;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post .photo-list li img,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser .photo-list li img {
  width: 100%;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post ul,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser ul {
  padding-left: 5px;
  list-style-type: none;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post ul li,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser ul li {
  padding-left: 20px;
  margin-bottom: 15px;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post ul li:before,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser ul li:before {
  content: '\f054';
  font-family: FontAwesome;
  margin-left: 0px;
  margin-right: 15px;
  position: relative;
  top: -1px;
  display: inline-block;
  font-size: 10px;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post > pre,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser > pre {
  margin-bottom: 30px;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint {
  font-family: monaco;
  font-size: .8em;
  display: block;
  background-color: #444;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 1px #CCC;
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* plaintext */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .nocode,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .nocode {
  background-color: none;
  color: #000000;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .str,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .str {
  color: #ffa0a0;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .kwd,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .kwd {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .com,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .com {
  color: #87ceeb;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .typ,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .typ {
  color: #98fb98;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .lit,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .lit {
  color: #cd5c5c;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .pun,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .pun {
  color: #ffffff;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .pln,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .pln {
  color: #ffffff;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .tag,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .tag {
  color: #f0e68c;
  font-weight: bold;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .atn,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .atn {
  color: #bdb76b;
  font-weight: bold;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .atv,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .atv {
  color: #ffa0a0;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .dec,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .dec {
  color: #98fb98;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint ol.linenums,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  color: #AEAEAE;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint ol.linenums li,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint ol.linenums li {
  margin-bottom: 3px;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint li,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint li {
  list-style-type: decimal;
}
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint li.L1,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint li.L1,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint li.L3,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint li.L3,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint li.L5,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint li.L5,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint li.L7,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint li.L7,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint li.L9,
#main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint li.L9 {
  background: #444444;
}
@media print {
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint prettyprint,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint prettyprint {
    background-color: none;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .str,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .str,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .str,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .str {
    color: #006600;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .kwd,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .kwd,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .kwd,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .kwd {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .com,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .com,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .com,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .com {
    color: #600;
    font-style: italic;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .typ,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .typ,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .typ,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .typ {
    color: #404;
    font-weight: bold;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .lit,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .lit,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .lit,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .lit {
    color: #004444;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .pun,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .pun,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .pun,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .pun {
    color: #444400;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .pln,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .pln,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .pln,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .pln {
    color: #000000;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .tag,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .tag,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .tag,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .tag {
    color: #006;
    font-weight: bold;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .atn,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .atn,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .atn,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .atn {
    color: #440044;
  }
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint .atv,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint .atv,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .post code.prettyprint code .atv,
  #main-wrap #main-content .blog-body-wrapper .leftcol-content .teaser code.prettyprint code .atv {
    color: #006600;
  }
}
#main-wrap #main-content .blog-body-wrapper .rightcol-content {
  float: right;
  width: 250px;
  position: relative;
  left: 250px;
}
#main-wrap #main-content .blog-body-wrapper .rightcol-content .groupwrapper {
  background: rgba(255, 255, 255, 0.9);
  margin: 0px 2px 20px 0px;
  box-shadow: 0px 1px 1px 1px #DAE9FA;
  border-radius: 1px;
  border-top: 1px solid #EEE;
  padding: 20px;
}
#main-wrap #main-content .blog-body-wrapper .rightcol-content .groupwrapper .groupheader {
  text-align: center;
  background: url('../images/line-bg.gif') repeat-x center;
}
#main-wrap #main-content .blog-body-wrapper .rightcol-content .groupwrapper .groupheader h3 {
  display: inline-block;
  background: #FFF;
  padding: 0px 10px;
}
#main-wrap #main-content .blog-body-wrapper .rightcol-content .groupwrapper .recent-post {
  margin-top: 20px;
}
#main-wrap #main-content .blog-body-wrapper .rightcol-content .groupwrapper .recent-post .creation-date {
  margin-top: 7px;
  font-size: 12px;
  color: #666;
}
