body {
  background: #EEE !important;
  color: #333 !important;
  font-family: "Palatino", "Trebuchet MS";
  font-size: 14px !important;
}
body h1,
body h2,
body h3 {
  font-weight: normal;
}
a {
  color: #328ED3;
  text-decoration: none;
}
a:visited {
  color: #328ED3;
}
#main-wrap #top-bar {
  background-color: #333;
  border-bottom: 1px solid #000;
  box-shadow: 0px 1px 3px rgba(3, 3, 3, 0.7);
  position: relative;
  text-align: center;
}
#main-wrap #top-bar .top-bar-inner {
  text-align: left;
  max-width: 1200px;
  margin: auto;
  color: #FFF;
  font-size: 20px;
  position: relative;
  padding: 0px;
}
#main-wrap #top-bar .top-bar-inner .site-name {
  font-size: 22px;
  padding-top: 14px;
  display: inline-block;
  float: left;
}
@media (max-width: 1250px) {
  #main-wrap #top-bar .top-bar-inner .site-name {
    padding-left: 10px;
  }
}
#main-wrap #top-bar .top-bar-inner .site-name a {
  color: #FFF;
}
#main-wrap #top-bar .top-bar-inner .site-name .subtle {
  color: #666;
}
#main-wrap #top-bar .top-bar-inner .top-bar-links {
  display: inline-block;
  float: right;
  font-size: 16px;
}
@media (max-width: 600px) {
  #main-wrap #top-bar .top-bar-inner .top-bar-links {
    display: block;
    float: left;
    clear: both;
    margin-top: 10px;
    border-top: 1px solid #666;
    height: auto;
    width: 100%;
  }
}
#main-wrap #top-bar .top-bar-inner .top-bar-links .ui-menu {
  position: absolute;
  z-index: 900;
}
#main-wrap #top-bar .top-bar-inner .top-bar-links .ui-menu .projects > a {
  padding-left: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  color: #333;
  border-left: 1px solid #FFF;
}
#main-wrap #top-bar .top-bar-inner .top-bar-links .ui-menu .projects > a:hover {
  border-left: 1px solid #EEE;
}
#main-wrap #top-bar .top-bar-inner .top-bar-links .ui-menu .projects > a .project-header {
  font-weight: bold;
  margin-bottom: 5px;
}
#main-wrap #top-bar .top-bar-inner .top-bar-links .ui-menu-item .ui-menu {
  padding: 20px;
  padding-bottom: 0px;
  background: #FFF;
  border: 1px solid #CCC;
  border-top: none;
  color: #333;
  box-shadow: 0px 3px 3px rgba(3, 3, 3, 0.3);
}
@media (max-width: 600px) {
  #main-wrap #top-bar .top-bar-inner .top-bar-links .ui-menu-item .ui-menu {
    left: 0px !important;
  }
}
#main-wrap #top-bar .top-bar-inner .top-bar-links .ui-menu-item a i {
  line-height: 10px;
  font-size: 12px;
}
#main-wrap #top-bar .top-bar-inner .top-bar-links > li {
  border: 1px solid #333;
  border-left: 1px solid #000;
  border-right: 1px solid #666;
  display: inline-block;
  background: #333;
  cursor: pointer;
  margin-left: -9px;
}
@media (max-width: 600px) {
  #main-wrap #top-bar .top-bar-inner .top-bar-links > li:first-child,
  #main-wrap #top-bar .top-bar-inner .top-bar-links > li:first-child a {
    border-left: 1px solid transparent;
  }
  #main-wrap #top-bar .top-bar-inner .top-bar-links > li:last-child,
  #main-wrap #top-bar .top-bar-inner .top-bar-links > li:last-child a {
    border-right: 1px solid transparent;
  }
}
#main-wrap #top-bar .top-bar-inner .top-bar-links > li > a.ui-state-focus,
#main-wrap #top-bar .top-bar-inner .top-bar-links > li a.ui-state-active {
  background: #FFF;
  color: #444;
  border-bottom: #FFF;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
#main-wrap #top-bar .top-bar-inner .top-bar-links > li li {
  display: inline-block;
}
#main-wrap #top-bar .top-bar-inner .top-bar-links > li > a {
  display: inline-block;
  padding: 16px 20px 17px 20px;
  color: #FFF;
  text-decoration: none;
  border-left: 1px solid #666;
  border-right: 1px solid #000;
}
@media (max-width: 600px) {
  #main-wrap #top-bar .top-bar-inner .top-bar-links > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
#main-wrap #main-content {
  margin: auto;
  max-width: 1200px;
  padding: 1% 1% 0% 1%;
}
#main-wrap #main-content .page-title {
  margin: 5px 7px 10px 5px;
}
#main-wrap #main-content h1 {
  font-size: 26px;
}
@media (max-width: 600px) {
  #main-wrap #main-content h1 {
    font-size: 20px;
  }
}
#main-wrap #main-content h2 {
  font-size: 20px;
}
@media (max-width: 600px) {
  #main-wrap #main-content h2 {
    font-size: 16px;
  }
}
#main-wrap #main-content .subheader {
  margin-top: -10px;
}
#main-wrap #footer {
  clear: both;
  padding: 30px 0px 100px 0px;
  position: relative;
  top: 30px;
  text-align: center;
  border-top: 1px solid #CCC;
  box-shadow: inset 0px 1px #FFF;
  font-size: 1.2em;
  color: #666;
}
#main-wrap #promo-wrap {
  background: url('../images/backgrounds/bluediag.png');
  border-bottom: 1px solid #133651;
}
#main-wrap #promo-wrap #promo-inner {
  max-width: 1000px;
  margin: auto;
}
#main-wrap #promo-wrap .science-bot {
  pointer-events: none;
  background: url('../images/promos/sciencebot.png') no-repeat;
  height: 430px;
  width: 500px;
  margin-top: -30px;
  margin-left: -130px;
  position: absolute;
  z-index: 499;
}
@media (max-width: 1000px) {
  #main-wrap #promo-wrap .science-bot {
    display: none;
  }
}
#main-wrap #promo-wrap #promo-slideshow {
  width: 730px;
  height: 370px;
  margin-top: 30px;
  background-color: #153A55;
  float: left;
  margin-left: 250px;
  position: relative;
  z-index: 500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #0C2232;
  border-bottom: none;
}
@media (max-width: 1000px) {
  #main-wrap #promo-wrap #promo-slideshow {
    padding-bottom: 15px;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: auto;
    border: none;
  }
}
#main-wrap #promo-wrap #promo-slideshow .progress-indicator {
  height: 3px;
  background: rgba(125, 149, 168, 0.9);
  border-top: 1px solid #000;
  border-bottom: 1px solid #92A9C2;
  position: absolute;
  z-index: 50;
  bottom: 35px;
  left: 10px;
  right: 10px;
}
@media (max-width: 1000px) {
  #main-wrap #promo-wrap #promo-slideshow .progress-indicator {
    bottom: 39px;
  }
}
#main-wrap #promo-wrap #promo-slideshow .progress-indicator .fill {
  float: left;
  background-color: #92A9C2;
  height: 100%;
  width: 0%;
  display: inline-block;
}
#main-wrap #promo-wrap #promo-slideshow .progress-indicator .fill-fadein {
  float: left;
  background-color: #92A9C2;
  height: 100%;
  width: 10%;
  display: inline-block;
}
#main-wrap #promo-wrap #promo-slideshow #promo-frame {
  border-radius: 2px;
  background-color: #333;
  box-shadow: inset 1px 1px 14px 1px #000;
  height: 315px;
  margin: 10px;
  overflow: hidden;
}
@media (max-width: 1000px) {
  #main-wrap #promo-wrap #promo-slideshow #promo-frame {
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }
}
#main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line {
  height: 100%;
  width: 5000px;
  position: relative;
}
#main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line .promo {
  border-radius: 2px;
  float: left;
  height: 100%;
  background-color: #FFF;
}
#main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line .promo .promo-inner {
  margin: 10px;
  height: 295px;
  color: #666;
  text-align: center;
  position: relative;
  height: 100%;
}
#main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line .promo .promo-inner .overlay {
  color: #FFF;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: left;
  background-color: rgba(1, 1, 1, 0.6);
  padding: 10px;
}
#main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line .promo .promo-inner .overlay:hover {
  text-decoration: underline;
}
#main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line .promo .promo-inner .overlay h2 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: normal;
}
@media (max-width: 600px) {
  #main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line .promo .promo-inner .overlay h2 {
    font-size: 18px;
  }
}
#main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line .promo .promo-inner .overlay span {
  font-size: 1.2em;
}
@media (max-width: 600px) {
  #main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line .promo .promo-inner .overlay span {
    font-size: 1em;
  }
}
#main-wrap #promo-wrap #promo-slideshow #promo-frame #promo-line .promo .promo-inner.image-promo {
  margin: 0px;
}
#main-wrap #promo-wrap #promo-slideshow #promo-controls {
  text-align: center;
}
#main-wrap #promo-wrap #promo-slideshow #promo-controls ul {
  list-style: none;
  display: inline-block;
  position: relative;
  top: 2px;
}
#main-wrap #promo-wrap #promo-slideshow #promo-controls li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #FFF;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 1px 1px 1px #000;
}
#main-wrap #promo-wrap #promo-slideshow #promo-controls li.selected {
  background-color: #85AFCF;
}
